Repository microsoft/AdaptiveCards, pull requests merged in 2018-04, with the labels that each got.

#1325 Icon for Actions support in iOS
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionOpenURLRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionShowCardRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSubmitRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
Labels: Platform-iOS

#1379 iOS: Do not call render at viewDidLoad
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.mm
Labels: Platform-iOS

#1368 explicit image changes
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Image.h
Labels: Platform-Shared Model

#1383 Reduce calls to expensive locale functions
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/DateTimePreparser.java
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.h
  source/uwp/Renderer/lib/DateTimeParser.cpp
  source/uwp/Renderer/lib/DateTimeParser.h
Labels: Platform-Android, Platform-Shared Model, Platform-UWP

#1385 Add functionality to get resource URIs to the shared model
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/GatherImagesTest.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/ImageSet.cpp
  source/shared/cpp/ObjectModel/ImageSet.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/shared/cpp/ObjectModel/ShowCardAction.h
Labels: Platform-Shared Model

#1380 added select action to shared adaptive card and add a method to parse…
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ObjectModelTest.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ParseUtil.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
Labels: Platform-Shared Model

#1390 initial commit for the feature
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
Labels: Platform-Shared Model

#1398 Update test app for changes in ActivityUpdate payload
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Scenarios.ActivityUpdate.4256e10.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Scenarios.ActivityUpdate.4e9602f.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.ActivityUpdate.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.ActivityUpdate.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.ActivityUpdate.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.ActivityUpdate.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.ActivityUpdate.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.ActivityUpdate.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.ActivityUpdate.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.ActivityUpdate.png
Labels: Platform-UWP

#1399 Don't create the xml document if there's no html
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/MarkDownUnitTest.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.h
  source/shared/cpp/ObjectModel/MarkDownParsedResult.cpp
  source/shared/cpp/ObjectModel/MarkDownParsedResult.h
  source/shared/cpp/ObjectModel/MarkDownParser.cpp
  source/shared/cpp/ObjectModel/MarkDownParser.h
  source/uwp/Renderer/lib/HtmlHelpers.cpp
  source/uwp/Renderer/lib/HtmlHelpers.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-Shared Model, Platform-UWP

#1402 Tupha/relative image url uwp renderer shared
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/HostConfig.cpp
  source/shared/cpp/ObjectModel/HostConfig.h
Labels: Platform-Shared Model

#1406 Fixing crash where no item in RadioGroup is selected
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/RadioGroupInputHandler.java
Labels: Platform-Android

#1408 [UWP] Fix break when language is not specified
  source/uwp/Renderer/lib/AdaptiveTextBlock.cpp
  source/uwp/Renderer/lib/Util.cpp
Labels: Platform-UWP

#1373 Jwoo/explicit image size uwp
  samples/Tests/Image.Explicit.Size.json
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Image.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Image.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Image.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Image.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Image.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Image.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Image.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Image.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Image.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Image.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Image.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Image.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Image.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Image.Explicit.Size.png
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveImage.cpp
  source/uwp/Renderer/lib/AdaptiveImage.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-UWP

#1410 Don't add a warning for SelectActions if there isn't a SelectAction
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Area-Renderers, Bug, Platform-UWP
