Repository microsoft/AdaptiveCards, pull requests merged in 2018-03, with the labels that each got.

#1182 Consume ChoiceSet.Value and remove Choice.IsSelected
  source/shared/cpp/ObjectModel/ChoiceInput.cpp
  source/shared/cpp/ObjectModel/ChoiceInput.h
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Elements.Input.ChoiceSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Input.ChoiceSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Input.ChoiceSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Input.ChoiceSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Input.ChoiceSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Input.ChoiceSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.Inputs.png
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveChoiceInput.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceInput.h
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-Shared Model, Platform-UWP

#1102 Add language for Date formatting
  samples/Tests/DateTimeTestTranslation.json
  samples/Tests/FlightItinerary_en.json
  samples/Tests/FlightItinerary_es.json
  samples/Tests/FlightItinerary_es_fail.json
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/AdaptiveCard.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/Column.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ColumnSet.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/Container.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/DateTimePreparsedToken.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/DateTimePreparsedTokenFormat.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/DateTimePreparsedTokenVector.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/DateTimePreparser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/SWIGTYPE_p_tm.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ShowCardAction.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/TextBlock.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/DateTimeParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/TextBlockRenderer.java
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/DateAndTimeUnitTest.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/DateTimePreparsedToken.cpp
  source/shared/cpp/ObjectModel/DateTimePreparsedToken.h
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.h
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveTextBlock.cpp
  source/uwp/Renderer/lib/AdaptiveTextBlock.h
  source/uwp/Renderer/lib/DateTimeParser.cpp
  source/uwp/Renderer/lib/DateTimeParser.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-Android, Platform-Shared Model, Platform-UWP

#1176 iOS: Notify rendering completion
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionDelegate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.mm
Labels: Platform-iOS

#1193 Remove parser warnings
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCardParseResult.cpp
  source/uwp/Renderer/lib/AdaptiveCardParseResult.h
  source/uwp/Renderer/lib/AdaptiveHostConfigParseResult.cpp
  source/uwp/Renderer/lib/AdaptiveHostConfigParseResult.h
Labels: Platform-UWP

#1192 Make items not required for containers
  source/shared/cpp/ObjectModel/Container.cpp
Labels: Platform-Shared Model

#1202 Rename IBaseCardElementParser and IActionElementParser. Also wrapped tm struct to be usable from Java and so it is cleaner
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ActionElementParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ActionParserRegistration.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/BaseCardElementParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/CTime.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ChoiceSetInputParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ColumnSetParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ContainerParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/DateInputParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/DateTimePreparsedToken.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/DateTimePreparser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ElementParserRegistration.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/FactSetParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ImageParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ImageSetParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/NumberInputParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/OpenUrlActionParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/SWIGTYPE_p_tm.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ShowCardActionParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/SubmitActionParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/TextBlockParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/TextInputParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/TimeInputParser.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ToggleInputParser.java
  source/shared/cpp/ObjectModel/ActionParserRegistration.cpp
  source/shared/cpp/ObjectModel/ActionParserRegistration.h
  source/shared/cpp/ObjectModel/ChoiceSetInput.h
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/DateInput.h
  source/shared/cpp/ObjectModel/ElementParserRegistration.cpp
  source/shared/cpp/ObjectModel/ElementParserRegistration.h
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/ImageSet.h
  source/shared/cpp/ObjectModel/NumberInput.h
  source/shared/cpp/ObjectModel/OpenUrlAction.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/SubmitAction.h
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextInput.h
  source/shared/cpp/ObjectModel/TimeInput.h
  source/shared/cpp/ObjectModel/ToggleInput.h
  source/uwp/Renderer/lib/AdaptiveActionParserRegistration.h
  source/uwp/Renderer/lib/AdaptiveElementParserRegistration.h
Labels: Platform-Android, Platform-Shared Model, Platform-UWP

#1203 Make the markdown parsing interface consistent in terms of parameters…
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.h
Labels: Platform-Shared Model

#1178 Jwoo/ios custom rendering part3
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/xcshareddata/xcschemes/ADCIOSVisualizer.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards-Universal.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElementPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfigPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.mm
Labels: Platform-iOS

#1179 Jwoo/shared custom property
  samples/Tests/AdditionalProperty.json
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomActionOpenURLRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseActionElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseActionElement.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElementPrivate.h
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdditionalPropertiesTest.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/BaseInputElement.h
  source/shared/cpp/ObjectModel/ChoiceInput.cpp
  source/shared/cpp/ObjectModel/ChoiceSetInput.cpp
  source/shared/cpp/ObjectModel/ChoiceSetInput.h
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/DateInput.cpp
  source/shared/cpp/ObjectModel/DateInput.h
  source/shared/cpp/ObjectModel/FactSet.cpp
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/ImageSet.cpp
  source/shared/cpp/ObjectModel/ImageSet.h
  source/shared/cpp/ObjectModel/NumberInput.cpp
  source/shared/cpp/ObjectModel/NumberInput.h
  source/shared/cpp/ObjectModel/OpenUrlAction.cpp
  source/shared/cpp/ObjectModel/OpenUrlAction.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/SubmitAction.cpp
  source/shared/cpp/ObjectModel/SubmitAction.h
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextInput.cpp
  source/shared/cpp/ObjectModel/TextInput.h
  source/shared/cpp/ObjectModel/TimeInput.cpp
  source/shared/cpp/ObjectModel/TimeInput.h
  source/shared/cpp/ObjectModel/ToggleInput.cpp
  source/shared/cpp/ObjectModel/ToggleInput.h
Labels: Platform-Shared Model, Platform-iOS

#1200 Respecting the options provided by host config. Updated sample app to load a host config.
  samples/v1.0/Elements/TextBlock.Markdown.json
  source/android/adaptivecards/build.gradle
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/IBaseCardElementRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/action/ActionElementRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/input/ChoiceSetInputRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/input/DateInputRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/input/NumberInputRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/input/TextInputRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/input/TimeInputRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/input/ToggleInputRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/ColumnSetRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/ContainerRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/FactSetRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/ImageRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/ImageSetRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/readonly/TextBlockRenderer.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/registration/ActionRendererRegistration.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/renderer/registration/CardRendererRegistration.java
  source/android/mobile/build.gradle
  source/android/mobile/src/main/AndroidManifest.xml
  source/android/mobile/src/main/java/com/microsoft/adaptivecards/adaptivecardssample/MainActivityAdaptiveCardsSample.java
  source/android/mobile/src/main/java/com/microsoft/adaptivecards/adaptivecardssample/MusicServiceAdaptiveCardsSample.java
  source/android/mobile/src/main/res/drawable/border.xml
  source/android/mobile/src/main/res/layout/content_main_activity_adaptive_cards_sample.xml
  source/android/mobile/src/main/res/values/colors.xml
  source/android/mobile/src/main/res/values/strings.xml
  source/android/mobile/src/main/res/values/styles.xml
Labels: Platform-Android

#1205 Add select action to image and column
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Elements.Container.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Image.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Elements.Container.SelectAction.png
  source/uwp/AdaptiveCardTestApp/ViewModels/RunningTestsViewModel.cs
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveColumn.cpp
  source/uwp/Renderer/lib/AdaptiveColumn.h
  source/uwp/Renderer/lib/AdaptiveImage.cpp
  source/uwp/Renderer/lib/AdaptiveImage.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-UWP

#1207 fixes issue #1191 & refactorred HostConfig Uses
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionShowCardRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContainerRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRendererPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.mm
Labels: Platform-iOS

#1208 Jwoo/shared custom parser for ios
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/CustomParsingForIOSTest.cpp
  source/shared/cpp/ObjectModel/ElementParserRegistration.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/UnknownElement.cpp
  source/shared/cpp/ObjectModel/UnknownElement.h
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
Labels: Platform-Shared Model, Platform-iOS

#1216 Add Version handling to shared model
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCard.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/MainActivityAdaptiveCardsSample.java
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.mm
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdditionalPropertiesTest.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveCard.h
Labels: Platform-Shared Model, Platform-UWP

#1210 Jwoo/ios custom parser for ios
  samples/Tests/CustomParsingTestUsingProgressBar.json
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomProgressBarRenderer.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomProgressBarRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfigPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCustomRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCustomRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.mm
Labels: Platform-Shared Model, Platform-iOS

#1217 Refactor android APIs
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveWarning.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/IBaseActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/IBaseCardElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/RenderedAdaptiveCard.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/actionhandler/ICardActionHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/http/HttpRequestHelper.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/http/HttpRequestResult.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ChoiceSetInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/DateInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/NumberInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TextInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TimeInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ToggleInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/BaseInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/CheckBoxSetInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/ComboBoxInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/DateInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/IInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/NumberInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/RadioGroupInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/TextInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/TimeInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/ToggleInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnSetRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ContainerRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/FactSetRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ImageRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ImageSetRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/TextBlockRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/registration/ActionRendererRegistration.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/registration/CardRendererRegistration.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/MainActivityAdaptiveCardsSample.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/ShowCardFragment.java
  source/xamarin/AdaptiveCards.Rendering.Xamarin.Android.Sample/MainActivity.cs
Labels: Platform-Android

#1211 Jwoo/ios action re write
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCardPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseActionElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseActionElement.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseActionElementPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionDelegate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionOpenURLRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSubmitRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACROpenURLTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACROpenURLTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRSubmitTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRSubmitTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.mm
Labels: Platform-Shared Model, Platform-iOS

#1213 Expose AdditionalProperties on base card elements from UWP
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.h
  source/uwp/Renderer/lib/AdaptiveColumn.cpp
  source/uwp/Renderer/lib/AdaptiveColumn.h
  source/uwp/Renderer/lib/AdaptiveColumnSet.cpp
  source/uwp/Renderer/lib/AdaptiveColumnSet.h
  source/uwp/Renderer/lib/AdaptiveContainer.cpp
  source/uwp/Renderer/lib/AdaptiveContainer.h
  source/uwp/Renderer/lib/AdaptiveDateInput.cpp
  source/uwp/Renderer/lib/AdaptiveDateInput.h
  source/uwp/Renderer/lib/AdaptiveFactSet.cpp
  source/uwp/Renderer/lib/AdaptiveFactSet.h
  source/uwp/Renderer/lib/AdaptiveImage.cpp
  source/uwp/Renderer/lib/AdaptiveImage.h
  source/uwp/Renderer/lib/AdaptiveImageSet.cpp
  source/uwp/Renderer/lib/AdaptiveImageSet.h
  source/uwp/Renderer/lib/AdaptiveNumberInput.cpp
  source/uwp/Renderer/lib/AdaptiveNumberInput.h
  source/uwp/Renderer/lib/AdaptiveTextBlock.cpp
  source/uwp/Renderer/lib/AdaptiveTextBlock.h
  source/uwp/Renderer/lib/AdaptiveTextInput.cpp
  source/uwp/Renderer/lib/AdaptiveTextInput.h
  source/uwp/Renderer/lib/AdaptiveTimeInput.cpp
  source/uwp/Renderer/lib/AdaptiveTimeInput.h
  source/uwp/Renderer/lib/AdaptiveToggleInput.cpp
  source/uwp/Renderer/lib/AdaptiveToggleInput.h
  source/uwp/Renderer/lib/Util.cpp
Labels: Area-Renderers, Platform-UWP

#1222 Add parser warnings to the shared model and UWP
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCard.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardParseWarning.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardParseWarningVector.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ErrorStatusCode.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ParseResult.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/WarningStatusCode.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/MainActivityAdaptiveCardsSample.java
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCardParseResult.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCardParseResult.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRParseWarning.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRParseWarning.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRParseWarningPrivate.h
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdditionalPropertiesTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/CustomParsingForIOSTest.cpp
  source/shared/cpp/ObjectModel/AdaptiveCardParseWarning.cpp
  source/shared/cpp/ObjectModel/AdaptiveCardParseWarning.h
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/ParseResult.cpp
  source/shared/cpp/ObjectModel/ParseResult.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveCardParseResult.cpp
  source/uwp/Renderer/lib/AdaptiveCardParseResult.h
  source/uwp/Visualizer/ViewModel/DocumentViewModel.cs
  source/xamarin/AdaptiveCards.Rendering.Xamarin.Android.Sample/MainActivity.cs
Labels: Platform-UWP

#1231 Adding support for precompiled headers for UWP projects
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/ObjectModel/ActionParserRegistration.cpp
  source/shared/cpp/ObjectModel/AdaptiveCardParseException.cpp
  source/shared/cpp/ObjectModel/AdaptiveCardParseWarning.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseInputElement.cpp
  source/shared/cpp/ObjectModel/ChoiceInput.cpp
  source/shared/cpp/ObjectModel/ChoiceSetInput.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/DateInput.cpp
  source/shared/cpp/ObjectModel/DateTimePreparsedToken.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/ElementParserRegistration.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Fact.cpp
  source/shared/cpp/ObjectModel/FactSet.cpp
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/ImageSet.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.cpp
  source/shared/cpp/ObjectModel/MarkDownParsedResult.cpp
  source/shared/cpp/ObjectModel/MarkDownParser.cpp
  source/shared/cpp/ObjectModel/NumberInput.cpp
  source/shared/cpp/ObjectModel/OpenUrlAction.cpp
  source/shared/cpp/ObjectModel/ParseResult.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/Separator.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/shared/cpp/ObjectModel/SubmitAction.cpp
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextInput.cpp
  source/shared/cpp/ObjectModel/TimeInput.cpp
  source/shared/cpp/ObjectModel/ToggleInput.cpp
  source/shared/cpp/ObjectModel/UnknownElement.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/jsoncpp.cpp
  source/shared/cpp/ObjectModel/pch.cpp
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/dll/dll.cpp
  source/uwp/Renderer/lib/DateTimeParser.cpp
  source/uwp/Renderer/lib/pch.cpp
  source/uwp/Renderer/lib/pch.h
Labels: Platform-Shared Model, Platform-UWP

#1243 Replace ContainerStyle string enum with class + static fields
  source/nodejs/adaptivecards/src/enums.ts
Labels: Platform-HTML

#1247 Introduce base classes for elements, inputs, and actions to reduce du…
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/lib/AdaptiveActionElement.cpp
  source/uwp/Renderer/lib/AdaptiveActionElement.h
  source/uwp/Renderer/lib/AdaptiveCard.h
  source/uwp/Renderer/lib/AdaptiveCardElement.cpp
  source/uwp/Renderer/lib/AdaptiveCardElement.h
  source/uwp/Renderer/lib/AdaptiveChoiceInput.h
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.h
  source/uwp/Renderer/lib/AdaptiveColumn.cpp
  source/uwp/Renderer/lib/AdaptiveColumn.h
  source/uwp/Renderer/lib/AdaptiveColumnSet.cpp
  source/uwp/Renderer/lib/AdaptiveColumnSet.h
  source/uwp/Renderer/lib/AdaptiveContainer.cpp
  source/uwp/Renderer/lib/AdaptiveContainer.h
  source/uwp/Renderer/lib/AdaptiveDateInput.cpp
  source/uwp/Renderer/lib/AdaptiveDateInput.h
  source/uwp/Renderer/lib/AdaptiveFact.h
  source/uwp/Renderer/lib/AdaptiveFactSet.cpp
  source/uwp/Renderer/lib/AdaptiveFactSet.h
  source/uwp/Renderer/lib/AdaptiveImage.cpp
  source/uwp/Renderer/lib/AdaptiveImage.h
  source/uwp/Renderer/lib/AdaptiveImageSet.cpp
  source/uwp/Renderer/lib/AdaptiveImageSet.h
  source/uwp/Renderer/lib/AdaptiveInputElement.cpp
  source/uwp/Renderer/lib/AdaptiveInputElement.h
  source/uwp/Renderer/lib/AdaptiveNumberInput.cpp
  source/uwp/Renderer/lib/AdaptiveNumberInput.h
  source/uwp/Renderer/lib/AdaptiveOpenUrlAction.cpp
  source/uwp/Renderer/lib/AdaptiveOpenUrlAction.h
  source/uwp/Renderer/lib/AdaptiveShowCardAction.cpp
  source/uwp/Renderer/lib/AdaptiveShowCardAction.h
  source/uwp/Renderer/lib/AdaptiveSubmitAction.cpp
  source/uwp/Renderer/lib/AdaptiveSubmitAction.h
  source/uwp/Renderer/lib/AdaptiveTextBlock.cpp
  source/uwp/Renderer/lib/AdaptiveTextBlock.h
  source/uwp/Renderer/lib/AdaptiveTextInput.cpp
  source/uwp/Renderer/lib/AdaptiveTextInput.h
  source/uwp/Renderer/lib/AdaptiveTimeInput.cpp
  source/uwp/Renderer/lib/AdaptiveTimeInput.h
  source/uwp/Renderer/lib/AdaptiveToggleInput.cpp
  source/uwp/Renderer/lib/AdaptiveToggleInput.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
Labels: Platform-UWP

#1268 Fixing changes that are causing build failures in windows build.
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/UnknownElement.cpp
  source/shared/cpp/ObjectModel/UnknownElement.h
  source/uwp/Renderer/lib/AdaptiveActionElement.cpp
  source/uwp/Renderer/lib/AdaptiveActionElement.h
  source/uwp/Renderer/lib/AdaptiveCardElement.cpp
  source/uwp/Renderer/lib/AdaptiveCardElement.h
  source/uwp/Renderer/lib/AdaptiveCardRendererComponent.cpp
  source/uwp/Renderer/lib/AdaptiveInputElement.cpp
  source/uwp/Renderer/lib/AdaptiveInputElement.h
  source/uwp/Renderer/lib/Util.cpp
Labels: Platform-Shared Model, Platform-UWP

#1242 Jwoo/ios vc 2 view
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomActionOpenURLRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomInputNumberRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionDelegate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionOpenURLRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionShowCardRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSubmitRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRBaseCardElementRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContainerRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCustomRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIBaseActionElementRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIBaseCardElementRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputChoiceSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputDateRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputNumberRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputTimeRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputToggleRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderResult.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderResult.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRendererPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Info.plist
  source/ios/release/AdaptiveCards.podspec
Labels: Platform-iOS

#1249 Fixing issue where url may not be encoded
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/http/HttpRequestHelper.java
Labels: Platform-Android

#1264 image size fix
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.mm
Labels: Platform-iOS

#1262 fixes image set issues (#1251)
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
Labels: Platform-iOS

#1250 Check the supporstInteractivity option in the host config before rendering input/actions
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveWarning.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ChoiceSetInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/DateInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/NumberInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TextInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TimeInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ToggleInputRenderer.java
Labels: Platform-Android

#1276 Fix annotations for UWP
  source/shared/cpp/ObjectModel/jsoncpp.cpp
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceInput.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.cpp
  source/uwp/Renderer/lib/AdaptiveColumn.cpp
  source/uwp/Renderer/lib/AdaptiveColumnSet.cpp
  source/uwp/Renderer/lib/AdaptiveContainer.cpp
  source/uwp/Renderer/lib/AdaptiveDateInput.cpp
  source/uwp/Renderer/lib/AdaptiveFact.cpp
  source/uwp/Renderer/lib/AdaptiveFactSet.cpp
  source/uwp/Renderer/lib/AdaptiveImage.cpp
  source/uwp/Renderer/lib/AdaptiveImageSet.cpp
  source/uwp/Renderer/lib/AdaptiveOpenUrlAction.cpp
  source/uwp/Renderer/lib/AdaptiveShowCardAction.cpp
  source/uwp/Renderer/lib/AdaptiveSubmitAction.cpp
  source/uwp/Renderer/lib/AdaptiveTextBlock.cpp
  source/uwp/Renderer/lib/AdaptiveTextInput.cpp
  source/uwp/Renderer/lib/AdaptiveTimeInput.cpp
  source/uwp/Renderer/lib/AdaptiveToggleInput.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-UWP

#1275 Move inline ShowCards out of the card padding
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Elements.Action.ShowCard.Style.4b2053d.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Elements.Action.ShowCard.c4ac8b7.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Scenarios.Inputs.e9dd899.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Action.ShowCard.Style.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Action.ShowCard.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Action.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Action.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Action.ShowCard.Style.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Action.ShowCard.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Action.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Action.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Action.ShowCard.Style.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Action.ShowCard.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Action.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Action.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Action.ShowCard.Style.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Action.ShowCard.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Action.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Action.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/ViewModels/RunningTestsViewModel.cs
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-UWP

#1303 Change fact set column definitions to have auto width
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Elements.Fact.bf317d9.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Fact.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Fact.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.FactSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.FactSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Fact.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Fact.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.FactSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.FactSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Fact.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Fact.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.FactSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.FactSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Fact.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Fact.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.FactSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.FactSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Fact.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Fact.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.FactSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Elements.Fact.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Elements.Fact.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Elements.FactSet.png
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1259 [iOS] Fix Input not passing down to new cards shown
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionShowCardRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
Labels: Platform-iOS

#1309 Add Icon property to Actions
  samples/v1.0/Scenarios/NotificationCard.json
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/HostConfig.cpp
  source/shared/cpp/ObjectModel/HostConfig.h
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Scenarios.NotificationCard.6e45602.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.NotificationCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.NotificationCard.png
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveActionElement.cpp
  source/uwp/Renderer/lib/AdaptiveActionElement.h
  source/uwp/Renderer/lib/AdaptiveActionsConfig.cpp
  source/uwp/Renderer/lib/AdaptiveActionsConfig.h
  source/uwp/Renderer/lib/AdaptiveOpenUrlAction.h
  source/uwp/Renderer/lib/AdaptiveShowCardAction.h
  source/uwp/Renderer/lib/AdaptiveSubmitAction.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-Shared Model, Platform-UWP

#1302 Respect maxImageHeight from image set host config.
  samples/Tests/AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.AutoImageSet.14303a4.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.AutoImageSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.AutoImageSet.png
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1321 Update test files related to notification card and different font hos…
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Scenarios.NotificationCard.8dadcfb.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.NotificationCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.NotificationCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.NotificationCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.NotificationCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Action.Title.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.AdaptiveCard.Version.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.TypeIsRequired.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.NotificationCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.NotificationCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.NotificationCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.NotificationCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.NotificationCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.NotificationCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.NotificationCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.NotificationCard.png
Labels: Platform-UWP

#1320 [Android] Add iconUrl to actions
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.h
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ActionsConfig.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModel.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/BaseActionElement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/IconPlacement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/ImageLoaderAsync.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ImageRenderer.java
Labels: Platform-Android
