Repository microsoft/AdaptiveCards, pull requests merged in 2018-05, with the labels that each got.

#1388 Improve FactSet behavior in .NET/UWP/Android/iOS renderers
  samples/Tests/FactSetWrapping.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/FactSetRenderer.java
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveFactSetRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextBlock.cs
  source/dotnet/Library/AdaptiveCards/Rendering/FactSetConfig.cs
  source/dotnet/Library/AdaptiveCards/Rendering/TextBlockConfig.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUILabel.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUILabel.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/shared/cpp/ObjectModel/HostConfig.cpp
  source/shared/cpp/ObjectModel/HostConfig.h
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.FactSetWrapping.f51b822.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Elements.FactSet.f51b822.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.FactSetWrapping.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.FactSetWrapping.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.FactSetWrapping.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.FactSetWrapping.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.FactSetWrapping.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.FactSetWrapping.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.FactSetWrapping.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.FactSetWrapping.png
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-.NET, Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS

#1430 Fix AutoImageSet inconsistencies when loading images asynchronously.
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.AutoImageSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.solitaire.png
  source/uwp/AdaptiveCardTestApp/ViewModels/RunningTestsViewModel.cs
  source/uwp/AdaptiveCardTestApp/ViewModels/TestResultViewModel.cs
  source/uwp/AdaptiveCardTestApp/Views/TestResultView.xaml
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1427 explicit column width for uwp
  samples/Tests/Column.Explicit.Size.json
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/Util.cpp
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.Column.Explicit.Size.7484061.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.Image.Explicit.Size.d30973f.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Column.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Column.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Column.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Column.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Column.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Column.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Column.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Column.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Column.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Column.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Column.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Column.Explicit.Size.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Column.Explicit.Size.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Column.Explicit.Size.png
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveColumn.cpp
  source/uwp/Renderer/lib/AdaptiveColumn.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1436 Implement GetResourceUris at the UWP layer
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveCard.h
  source/uwp/Renderer/lib/CustomActionWrapper.cpp
  source/uwp/Renderer/lib/CustomActionWrapper.h
  source/uwp/Renderer/lib/CustomElementWrapper.cpp
  source/uwp/Renderer/lib/CustomElementWrapper.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
  source/uwp/Renderer/lib/Vector.h
Labels: Platform-UWP

#1444 fix for #1419
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/CMakeLists.txt
Labels: Platform-iOS

#1454 updated image obj's member names in shared model
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveImage.cpp
  source/uwp/Renderer/lib/AdaptiveImage.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-Shared Model, Platform-UWP

#1464 Add missing null check to UWP test app
  source/uwp/AdaptiveCardTestApp/ViewModels/TestResultViewModel.cs
Labels: Platform-UWP

#1467 W4 warnings for shared cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/ObjectModel/Image.cpp
Labels: Platform-Shared Model

#1452 Fix Button spacing issues and add horizontal scroll view in case actions orientation is horizontal .
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/ComboBoxInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/FactSetRenderer.java
Labels: Platform-Android

#1465 fixes adding newline char issue in the text
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1445 share shared model's c++ header
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/xcshareddata/xcschemes/ADCIOSVisualizer.xcscheme
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomTextBlockRenderer.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomTextBlockRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards-Universal.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1475 [Android] Fix double button rendering
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
Labels: Platform-Android

#1483 Turn on automatic cppcore guidelines checking
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.h
  source/shared/cpp/ObjectModel/MarkDownParsedResult.cpp
  source/shared/cpp/ObjectModel/MarkDownParsedResult.h
  source/shared/cpp/ObjectModel/jsoncpp.cpp
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#1497 image set fix
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1506 Remove untrustable fix for fact set wrapping issue (#1505)
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/FactSetRenderer.java
Labels: Platform-Android

#1504 fixed view not loading when background image load fails
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1513 More minor fixes for building properly in Windows.
  source/shared/cpp/ObjectModel/jsoncpp.cpp
  source/shared/cpp/ObjectModel/pch.h
  source/uwp/Renderer/lib/MediaHelpers.cpp
Labels: Platform-UWP

#1503 show only one showcard at a time
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIContentHoldingView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
Labels: Platform-iOS
