Repository microsoft/AdaptiveCards, pull requests merged in 2018-02, with the labels that each got.

#1180 Fix Xamarin Android build break caused by changes in Android ActionHandler
  source/xamarin/AdaptiveCards.Rendering.Xamarin.Android.Sample/MainActivity.cs
Labels: Platform-Xamarin

#1183 Change to return FrameworkElement instead of UIElement
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCardRendererComponent.cpp
  source/uwp/Renderer/lib/AsyncOperations.h
  source/uwp/Renderer/lib/RenderedAdaptiveCard.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-UWP

#1186 Adding Type string to BaseCardElement and BaseActionElement
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/BaseActionElement.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/BaseCardElement.java
  source/android/adaptivecards/src/main/java/com/microsoft/adaptivecards/objectmodel/ContainerStyleDefinition.java
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
Labels: Platform-Android, Platform-Shared Model

#1184 Update test images
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Scenarios.FlightItinerary.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Scenarios.FlightItinerary.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.bing.v1.0.Scenarios.Restaurant.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.FlightItinerary.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.FlightItinerary.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.Restaurant.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.FlightItinerary.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.FlightItinerary.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.Restaurant.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.Restaurant.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.FlightItinerary.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.FlightItinerary.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.Restaurant.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Elements.Input.Time.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Elements.Input.Time.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.FlightItinerary.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.FlightItinerary.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.FoodOrder.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-live-tile.v1.0.Scenarios.Restaurant.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Input.Date.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Input.Date.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.FlightItinerary.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.FlightItinerary.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.Inputs.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.Restaurant.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.FlightItinerary.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.FlightItinerary.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.ImageGallery.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Scenarios.Restaurant.png
Labels: Platform-UWP
