Repository microsoft/AdaptiveCards, pull requests merged in 2018-11, with the labels that each got.

#2134 Upgrade to new gradle version to fix NDK break
  source/android/adaptivecards/build.gradle
  source/android/build.gradle
  source/android/gradle/wrapper/gradle-wrapper.properties
  source/android/mobile/build.gradle
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/MainActivityAdaptiveCardsSample.java
  source/android/mobilechatapp/build.gradle
Labels: Platform-Android

#2149 [UWP v2.0 prototype] Basic if/elseif/else handling with 'in' conditional support
  samples/v2.0/Elements/ExistentialOperator.json
  samples/v2.0/Elements/IfElse.json
  samples/v2.0/Elements/InConditionals.json
  source/shared/cpp/ObjectModel/FrameTranslator.cpp
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v2.0.Elements.ExistentialOperator.dedac4f.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v2.0.Elements.IfElse.c4e7366.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v2.0.Elements.InConditionals.761d3b1.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v2.0.Elements.ExistentialOperator.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v2.0.Elements.IfElse.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v2.0.Elements.IfElse.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v2.0.Elements.InConditionals.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v2.0.Elements.InConditionals.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v2.0.Elements.ExistentialOperator.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v2.0.Elements.IfElse.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v2.0.Elements.IfElse.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v2.0.Elements.InConditionals.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v2.0.Elements.InConditionals.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v2.0.Elements.ExistentialOperator.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v2.0.Elements.IfElse.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v2.0.Elements.IfElse.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v2.0.Elements.InConditionals.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v2.0.Elements.InConditionals.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v2.0.Elements.ExistentialOperator.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v2.0.Elements.IfElse.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v2.0.Elements.IfElse.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v2.0.Elements.InConditionals.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v2.0.Elements.InConditionals.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v2.0.Elements.ExistentialOperator.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v2.0.Elements.IfElse.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v2.0.Elements.IfElse.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v2.0.Elements.InConditionals.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v2.0.Elements.InConditionals.png
  source/uwp/AdaptiveCardTestApp/Expected/v2.0.Elements.IfElseToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v2.0.Elements.InConditionalsToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v2.0.Elements.ExistentialOperator.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v2.0.Elements.IfElse.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v2.0.Elements.IfElse.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v2.0.Elements.InConditionals.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v2.0.Elements.InConditionals.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v2.0.Elements.ExistentialOperator.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v2.0.Elements.IfElse.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v2.0.Elements.IfElse.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v2.0.Elements.InConditionals.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v2.0.Elements.InConditionals.png
  source/uwp/Visualizer/ViewModel/DocumentViewModel.cs
Labels: Platform-UWP

#2151 Fix our enums
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModel.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ActionAlignment_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ActionMode_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ActionType_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ActionsOrientation_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__AdaptiveCardSchemaKey_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__CardElementType_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ChoiceSetStyle_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ContainerStyle_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__FontStyle_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ForegroundColor_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__HeightType_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__HorizontalAlignment_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__IconPlacement_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ImageSize_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ImageStyle_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__Sentiment_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__SeparatorThickness_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__Spacing_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__TextInputStyle_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__TextSize_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__TextWeight_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__VerticalContentAlignment_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/TextConfig.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/registration/CardRendererRegistration.java
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/shared/cpp/.clang-format
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EnumTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.json
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/stdafx.h
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/EnumMagic.h
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/FactSet.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
  source/shared/cpp/ObjectModel/pch.h
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
  source/uwp/Renderer/lib/Util.h
Labels: Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS
