Repository microsoft/AdaptiveCards, pull requests merged in 2018-06, with the labels that each got.

#1510 corrected "auto" and "stretch" behavior of column width
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
Labels: Platform-iOS

#1520 image portrait mode fix when auto size used
  source/ios/.gitignore
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUIImageView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUIImageView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1447 supporting strings and objects for SubmitAction data
  source/shared/cpp/ObjectModel/SubmitAction.cpp
  source/shared/cpp/ObjectModel/SubmitAction.h
Labels: Platform-Shared Model

#1544 fixed showcard not closing
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
Labels: Platform-iOS

#1527 adjust hugging priority for UILabel
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRSeparator.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1543 Fix up namespacing and switch to C++17 language spec
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/ObjectModel/ActionParserRegistration.cpp
  source/shared/cpp/ObjectModel/ActionParserRegistration.h
  source/shared/cpp/ObjectModel/AdaptiveCardParseException.h
  source/shared/cpp/ObjectModel/AdaptiveCardParseWarning.h
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/BaseInputElement.h
  source/shared/cpp/ObjectModel/ChoiceInput.h
  source/shared/cpp/ObjectModel/ChoiceSetInput.h
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/DateInput.h
  source/shared/cpp/ObjectModel/DateTimePreparsedToken.h
  source/shared/cpp/ObjectModel/DateTimePreparser.h
  source/shared/cpp/ObjectModel/ElementParserRegistration.cpp
  source/shared/cpp/ObjectModel/ElementParserRegistration.h
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/Fact.h
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/HostConfig.h
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/ImageSet.h
  source/shared/cpp/ObjectModel/MarkDownBlockParser.h
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.h
  source/shared/cpp/ObjectModel/MarkDownParsedResult.h
  source/shared/cpp/ObjectModel/MarkDownParser.h
  source/shared/cpp/ObjectModel/Media.h
  source/shared/cpp/ObjectModel/MediaSource.h
  source/shared/cpp/ObjectModel/NumberInput.h
  source/shared/cpp/ObjectModel/OpenUrlAction.h
  source/shared/cpp/ObjectModel/ParseResult.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ParseUtil.h
  source/shared/cpp/ObjectModel/Separator.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/SubmitAction.h
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextInput.h
  source/shared/cpp/ObjectModel/TimeInput.h
  source/shared/cpp/ObjectModel/ToggleInput.h
  source/shared/cpp/ObjectModel/UnknownElement.h
  source/shared/cpp/ObjectModel/pch.h
  source/uwp/AdaptiveCards.sln
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
Labels: Platform-Shared Model, Platform-UWP

#1552 Add MSC directive to prevent cppcorecheck build failures on non-VS builds
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#1526 cleaned up exception handling in loading image
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/GenericImageLoaderAsync.java
Labels: Platform-Android

#1567 Make `ParseUtil` a namespace
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ParseUtil.h
Labels: Platform-Shared Model

#1547 Jwoo/ios render sync
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomTextBlockRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
Labels: Platform-iOS

#1561 [.NET] Prevent async exceptions from tearing down the process
  source/dotnet/Build/SignNugetConfig.xml
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
Labels: Platform-.NET

#1575 Enable const cppcore checks and fix fallout
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.h
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.cpp
  source/shared/cpp/ObjectModel/Media.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#1546 Add Events for media play and end
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/HostConfig.cpp
  source/shared/cpp/ObjectModel/HostConfig.h
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveMediaConfig.cpp
  source/uwp/Renderer/lib/AdaptiveMediaConfig.h
  source/uwp/Renderer/lib/AdaptiveMediaEventArgs.cpp
  source/uwp/Renderer/lib/AdaptiveMediaEventArgs.h
  source/uwp/Renderer/lib/AdaptiveMediaEventInvoker.cpp
  source/uwp/Renderer/lib/AdaptiveMediaEventInvoker.h
  source/uwp/Renderer/lib/AdaptiveRenderContext.cpp
  source/uwp/Renderer/lib/AdaptiveRenderContext.h
  source/uwp/Renderer/lib/AdaptiveTextConfig.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.h
  source/uwp/Renderer/lib/Util.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Visualizer/ViewModel/DocumentViewModel.cs
Labels: Platform-Shared Model, Platform-UWP

#1554 Jwoo/ios makrdown optimized
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/sample.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1562 Added additional headers to public lis in framework.
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
Labels: Platform-iOS

#1579 Enable CPPCORECHECK_DECLARATION_WARNINGS and fix errors
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/ChoiceSetInput.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/DateInput.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/FactSet.cpp
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/ImageSet.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.cpp
  source/shared/cpp/ObjectModel/MarkDownParsedResult.cpp
  source/shared/cpp/ObjectModel/Media.cpp
  source/shared/cpp/ObjectModel/NumberInput.cpp
  source/shared/cpp/ObjectModel/OpenUrlAction.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/shared/cpp/ObjectModel/SubmitAction.cpp
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextInput.cpp
  source/shared/cpp/ObjectModel/TimeInput.cpp
  source/shared/cpp/ObjectModel/ToggleInput.cpp
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#1581 added ability to scroll when there are more buttons than viewing area
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/Action.Scrolling.json
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/sample.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIScrollView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIScrollView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
Labels: Platform-iOS

#1585 Enable "rule of five" checker, fix errors
  source/shared/cpp/ObjectModel/AdaptiveCardParseException.cpp
  source/shared/cpp/ObjectModel/AdaptiveCardParseException.h
  source/shared/cpp/ObjectModel/AdaptiveCardParseWarning.cpp
  source/shared/cpp/ObjectModel/AdaptiveCardParseWarning.h
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/json/json.h
  source/shared/cpp/ObjectModel/jsoncpp.cpp
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#1602 adjusted showcard location and button width
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
Labels: Platform-iOS

#1584 [iOS] Add vertical stretch support
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputDateRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputNumberRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputTimeRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUILabel.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUILabel.mm
Labels: Platform-iOS

#1601 Enable all cppcorecheck class warnings and fix errors
  source/shared/cpp/ObjectModel/AdaptiveCardParseException.h
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/BaseInputElement.h
  source/shared/cpp/ObjectModel/ChoiceSetInput.h
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/DateInput.h
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/ImageSet.h
  source/shared/cpp/ObjectModel/MarkDownBlockParser.h
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.h
  source/shared/cpp/ObjectModel/Media.h
  source/shared/cpp/ObjectModel/MediaSource.h
  source/shared/cpp/ObjectModel/NumberInput.h
  source/shared/cpp/ObjectModel/OpenUrlAction.h
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/SubmitAction.h
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextInput.h
  source/shared/cpp/ObjectModel/TimeInput.h
  source/shared/cpp/ObjectModel/ToggleInput.h
  source/shared/cpp/ObjectModel/UnknownElement.h
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#1586 Handle opening media via resource resolver when play is pressed
  source/uwp/Renderer/lib/MediaHelpers.cpp
  source/uwp/Renderer/lib/MediaHelpers.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1611 Enable unit test code coverage in Debug Win32 builds
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/stdafx.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/stdafx.h
Labels: Platform-Shared Model

#1474 Jwoo/ios custom styling
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/Assets.xcassets/AppIcon.appiconset/Contents.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCellForCompactMode.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRDatePicker.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRDateTextField.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRDateTextField.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputChoiceSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputTableView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputTableView.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputToggleRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLabelView.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextField.xib
Labels: Platform-iOS

#1595 allowed column with numeric width value to stretch
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
Labels: Platform-iOS

#1612 [UWP][Android][iOS] Add aesthetic fix Icons in Actions
  samples/Tests/IconsInSomeActions.json
  samples/Tests/NotificationCard.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
  source/uwp/AdaptiveCardTestApp/AdaptiveCardTestApp.csproj
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.IconsInSomeActions.json.9a5a71a.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.NotificationCard.json.22bc94e.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.IconsInSomeActions.jsonToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.NotificationCard.jsonToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.IconsInSomeActions.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.IconsInSomeActions.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.NotificationCard.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.NotificationCard.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.IconsInSomeActions.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.IconsInSomeActions.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.NotificationCard.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.NotificationCard.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.IconsInSomeActions.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.IconsInSomeActions.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.NotificationCard.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.NotificationCard.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.IconsInSomeActions.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.IconsInSomeActions.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.NotificationCard.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.NotificationCard.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.IconsInSomeActions.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.IconsInSomeActions.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.NotificationCard.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.NotificationCard.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.IconsInSomeActions.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.IconsInSomeActions.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.NotificationCard.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.NotificationCard.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.IconsInSomeActions.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.IconsInSomeActions.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.NotificationCard.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.NotificationCard.json.png
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-Android, Platform-UWP, Platform-iOS

#1600 updated showcard rendering position
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
Labels: Platform-iOS

#1596 compact style choice set "make choice" row will reflect user choice
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.mm
  source/ios/release/AdaptiveCards.podspec
Labels: Platform-iOS

#1629 fixed separator issue
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/sample.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRSeparator.mm
Labels: Platform-iOS

#1374 Jwoo/explicit image size ios
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
Labels: Platform-iOS

#1628 fixes extra spacing issue in UICollectionView
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
Labels: Platform-iOS

#1641 fixes url loading sync issue for actions
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfigPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionOpenURLRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionShowCardRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSubmitRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
Labels: Platform-iOS

#1614 Fix media controls
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1642 Jwoo/ios custom background image loader
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomImageRenderer.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomImageRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomTextBlockRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
Labels: Platform-iOS

#1643 multiline input and input limit for textview and textfield
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCellForCompactMode.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRDateTextField.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputChoiceSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextField.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextField.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextView.mm
Labels: Platform-iOS

#1651 [Android] Refocus when a show card changes visibility
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
Labels: Platform-Android

#1631 changed toggle view to UISwitch
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/xcshareddata/xcschemes/ADCIOSVisualizer.xcscheme
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards-Universal.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputNumberRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputToggleRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleInputDataSource.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleInputDataSource.mm
Labels: Platform-iOS
