Repository microsoft/AdaptiveCards, pull requests merged in 2018-08, with the labels that each got.

#1741 fixes ACRTextView returning placeholder text when field is empty
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextView.mm
Labels: Platform-iOS

#1752 [Android] Add support for explicit image size
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ImageRenderer.java
Labels: Platform-Android

#1736 Jwoo/ios media
  source/ios/.gitignore
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomImageRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/sample.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCardPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOMediaEvent.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOMediaEvent.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOMediaEventPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAVPlayerViewHoldingUIView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAVPlayerViewHoldingUIView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContainerRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIMedia.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRMediaRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRMediaRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRMediaTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRMediaTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRendererPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1750 More cppcore changes
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.h
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/HostConfig.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.cpp
  source/shared/cpp/ObjectModel/MarkDownParser.cpp
  source/shared/cpp/ObjectModel/Media.h
  source/shared/cpp/ObjectModel/MediaSource.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#1749 [Android] Add support for background image color
  samples/Tests/Image.BackgroundColor.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ImageRenderer.java
Labels: Platform-Android

#1746 added handler for column width in pixels
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveColumnSetRenderer.cs
Labels: Platform-.NET

#1757 CallBacks Added for Action.ShowCard
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionDelegate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionShowCardRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRLongPressGestureRecognizerFactory.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
Labels: Platform-iOS

#1751 Add audio/mp4 and audio/aac to the supported audio types
  source/uwp/Renderer/lib/MediaHelpers.cpp
Labels: Platform-UWP

#1759 [Android] GetResourceUris API
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
Labels: Platform-Android

#1768 Added support for icon in actions
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionSetRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveAction.cs
  source/dotnet/Library/AdaptiveCards/Rendering/ActionsConfig.cs
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveActionTests.cs
  source/dotnet/Test/AdaptiveCards.Test/HostConfigApiTests.cs
Labels: Area-Renderers, Platform-.NET

#1764 added fallback for invalid color
  source/uwp/Renderer/lib/Util.cpp
Labels: Area-Renderers, Platform-UWP

#1745 Tupha/api enumerate all images dotnet
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/RemoteResourceInformation.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
Labels: Platform-.NET

#1774 Disallow Strings to Ints
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveSubmitAction.cs
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs
  source/dotnet/Library/AdaptiveCards/StrictIntConverter.cs
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/dotnet/Test/AdaptiveCards.Test/XmlSerializationTests.cs
Labels: Platform-.NET

#1772 removed TextBlock's 100% height
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
Labels: Area-Renderers, Bug, Platform-.NET

#1769 added iconSize to shared object model
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/HostConfig.cpp
  source/shared/cpp/ObjectModel/HostConfig.h
Labels: Area-HostConfig, Platform-Shared Model

#1773 prevented nested actions from triggering
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionRenderer.cs
Labels: Platform-.NET

#1756 implemented card level select action
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
Labels: Platform-iOS

#1776 Introduce parser registration, parser warning, and parser error tests
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardParseExceptionTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParserRegistrationTest.cpp
  source/shared/cpp/ObjectModel/ActionParserRegistration.cpp
Labels: Platform-Shared Model

#1766 Accept changes to input box color from change of target version
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.ColumnSet.Input.Text.VerticalStretch.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Action.Submit.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Image.ImageBaseUrl.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Input.Number.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Input.Text.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.Input.Text.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.ColumnSet.Input.Text.VerticalStretch.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Action.Submit.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Image.ImageBaseUrl.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Input.Number.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Input.Text.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.Input.Text.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.ColumnSet.Input.Text.VerticalStretch.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Action.Submit.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Image.ImageBaseUrl.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Input.Number.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Input.Text.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.Input.Text.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.ColumnSet.Input.Text.VerticalStretch.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.Action.Submit.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.Image.ImageBaseUrl.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.Input.Number.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.Input.Text.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.Input.Text.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.FoodOrder.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.ColumnSet.Input.Text.VerticalStretch.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Action.Submit.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Input.Number.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Input.Text.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.Input.Text.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Action.Submit.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Input.Number.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Input.Text.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.Input.Text.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.InputForm.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Scenarios.Inputs.png
Labels: Platform-UWP

#1571 Tupha/select action show card dotnet bugs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionSetRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/Helpers/SelectActionHelper.cs
Labels: Platform-.NET

#1777 [UWP] Set background image alignment to stretch
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1784 Fix a couple issues with background color that slipped past PR
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ImageBackgroundColorTest.cpp
  source/shared/cpp/ObjectModel/Util.cpp
Labels: Platform-Shared Model

#1779 Tupha/disallow strings for ints nodejs
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Bug, Platform-HTML

#1778 Tupha/support icon size android
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ActionsConfig.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/RemoteResourceInformation.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/RemoteResourceInformationVector.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
Labels: Platform-Android

#1748 implemented API for enumerating images in a card (1094)
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.m
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACORemoteResourceInformation.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACORemoteResourceInformation.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACORemoteResourceInformationPrivate.h
Labels: Platform-iOS

#1791 Add "Everything Bagel" unit test
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.h
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.json
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/MarkDownUnitTest.cpp
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextBlock.h
Labels: Platform-Shared Model

#1755 implemented background color for image
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUIImageView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUIImageView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1804 use imageSize in imageSet to override all individual image sizes
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveImageSetRenderer.cs
Labels: Area-Renderers, Bug, Platform-.NET

#1760 ios relative url
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/sample.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCardsTests/AdaptiveCardsTests.m
Labels: Platform-iOS

#1812 gathers images in actions
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ResourceInformationTests.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
Labels: Platform-Shared Model

#1814 applied correct background color to containers
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveContainerRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveContainer.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Bug, Platform-.NET

#1807 fixed background color and removed extra spacing for selectAction button
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/Helpers/SelectActionHelper.cs
Labels: Area-Renderers, Bug, Platform-.NET

#1811 apply hostconfig's iconsize to button images
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
Labels: Platform-iOS

#1799 Jwoo/ios radio button
  samples/Tests/Feedback.json
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerUITests/ADCIOSVisualizerUITests.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputChoiceSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRPickerView.xib
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/checked-checkbox-24.png
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/checked.png
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/unchecked-checkbox-24.png
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/unchecked.png
Labels: Platform-iOS

#1564 Tupha/relative image url uwp renderer dotnet
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveImageRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/Helpers/ImageExtensions.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/ResourceResolver.cs
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs
Labels: Platform-.NET

#1822 Updated Unit Tests and file locations
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Images/checked-checkbox-24.png
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Images/checked.png
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Images/unchecked-checkbox-24.png
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Images/unchecked.png
Labels: Platform-iOS

#1825 Fact Unit Test
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/FactUnitTest.cpp
Labels: Platform-Shared Model

#1758 stopped requiring type property for Columns
  source/dotnet/Library/AdaptiveCards/AdaptiveColumn.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedElement.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedElementConverter.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Area-Schema, Bug, Platform-.NET

#1830 addresses compatibility issue with 10.0
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerUITests/ADCIOSVisualizerUITests.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputChoiceSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputToggleRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRMediaTarget.mm
Labels: Platform-iOS

#1840 wpf changes for explicit image size
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveImageRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/Helpers/ImageExtensions.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveImage.cs
  source/dotnet/Library/AdaptiveCards/StringSizeWithUnitConverter.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET, Platform-HTML

#1843 Fix up android CI build
  source/android/build.gradle
Labels: Platform-Android

#1841 Move to semantic versioning (no more double)
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCard.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.mm
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdditionalPropertiesTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/CustomParsingForIOSTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ImageBackgroundColorTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ObjectModelTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ResourceInformationTests.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/SemanticVersionTest.cpp
  source/shared/cpp/ObjectModel/ActionParserRegistration.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/SemanticVersion.cpp
  source/shared/cpp/ObjectModel/SemanticVersion.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/shared/cpp/ObjectModel/jsoncpp.cpp
  source/shared/cpp/ObjectModel/pch.h
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
  source/uwp/Renderer/lib/AdaptiveCard.cpp
Labels: Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS
