Repository microsoft/AdaptiveCards, pull requests merged in 2018-10, with the labels that each got.

#1995 exposed toggle switch for customization
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleInputDataSource.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleInputDataSource.mm
Labels: Platform-iOS

#2002 Fix issue with bullet rendering
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.TextBlock.Markdown.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.TextBlock.Markdown.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.TextBlock.Markdown.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.TextBlock.Markdown.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.TextBlock.Markdown.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.TextBlock.Markdown.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.TextBlock.Markdown.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.0.Elements.TextBlock.Markdown.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.TextBlock.Markdown.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.TextBlock.Markdown.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.TextBlock.Markdown.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.0.Elements.TextBlock.Markdown.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Elements.TextBlock.Markdown.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.0.Elements.TextBlock.Markdown.png
  source/uwp/Renderer/lib/HtmlHelpers.cpp
Labels: Platform-UWP

#1997 Add InlineAction on Input.Text to shared model and UWP (QuickReply)
  samples/Tests/Input.Text.InlineAction.ShowCard.json
  samples/v1.2/Elements/Input.Text.InlineAction.json
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.h
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.json
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ObjectModelTest.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ParseUtil.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/TextInput.cpp
  source/shared/cpp/ObjectModel/TextInput.h
  source/uwp/AdaptiveCardTestApp/AdaptiveCardTestApp.csproj
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.Input.Text.InlineAction.ShowCard.2de3e97.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Elements.Input.Text.InlineAction.205ef67.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.Input.Text.InlineAction.ShowCardToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.2.Elements.Input.Text.InlineAction.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.2.Elements.Input.Text.InlineAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.2.Elements.Input.Text.InlineAction.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.2.Elements.Input.Text.InlineAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.2.Elements.Input.Text.InlineAction.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.2.Elements.Input.Text.InlineAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.2.Elements.Input.Text.InlineAction.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.v1.2.Elements.Input.Text.InlineAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.2.Elements.Input.Text.InlineAction.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.2.Elements.Input.Text.InlineAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.2.Elements.Input.Text.InlineAction.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.v1.2.Elements.Input.Text.InlineAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.2.Elements.Input.Text.InlineAction.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.v1.2.Elements.Input.Text.InlineAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Elements.Input.Text.InlineActionToJson.json
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveTextInput.cpp
  source/uwp/Renderer/lib/AdaptiveTextInput.h
  source/uwp/Renderer/lib/DefaultResourceDictionary.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
Labels: Platform-Shared Model, Platform-UWP

#2021 UWP Updates to inlineAction
  samples/Tests/Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.Input.Text.InlineAction.ShowCard.a724376.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.Input.Text.InlineAction.ShowCardToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.Tests.Input.Text.InlineAction.ShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.Tests.Input.Text.InlineAction.ShowCard.png
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#2043 update versionning in build gradle task
  source/android/adaptivecards/build.gradle
Labels: Platform-Android

#2119 Fix HSTRING issues in vector.h
  source/uwp/Renderer/lib/Vector.h
Labels: Platform-UWP

#1988 [.NET] FontStyle Implementation
  samples/HostConfig/microsoft-teams.json
  samples/HostConfig/outlook-desktop.json
  samples/HostConfig/sample.json
  samples/HostConfig/sampleDifferentFont.json
  samples/HostConfig/skype.json
  samples/HostConfig/windows-notification.json
  samples/HostConfig/windows-timeline.json
  samples/v1.2/Elements/TextBlock.FontStyles.json
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveFontStyle.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextBlock.cs
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs
  source/dotnet/Library/AdaptiveCards/Rendering/FontSizesConfig.cs
  source/dotnet/Library/AdaptiveCards/Rendering/FontStyleConfig.cs
  source/dotnet/Library/AdaptiveCards/Rendering/FontStylesConfig.cs
  source/dotnet/Library/AdaptiveCards/Rendering/FontWeightsConfig.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET, Platform-HTML

#2126 [UWP v2.0 prototype] Separate json templating from parsing and add templating panel to visualizer
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveCard.h
  source/uwp/Renderer/lib/AdaptiveTemplater.cpp
  source/uwp/Renderer/lib/AdaptiveTemplater.h
  source/uwp/UWPTestLibrary/RenderTestHelpers.cs
  source/uwp/Visualizer/DocumentView.xaml
  source/uwp/Visualizer/ViewModel/DocumentViewModel.cs
Labels: Platform-UWP
