Repository microsoft/AdaptiveCards, pull requests merged in 2018-09, with the labels that each got.

#1854 Ordered list support for WPF renderer
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveXamlMarkdownRenderer.cs
Labels: Platform-.NET

#1865 allows escaped chars to be renderered as html text
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/MarkDownUnitTest.cpp
  source/shared/cpp/ObjectModel/MarkDownParser.cpp
  source/shared/cpp/ObjectModel/MarkDownParser.h
Labels: Platform-Shared Model, Platform-iOS

#1870 Add test files for new samples
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.Feedback.316d3a1.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.FeedbackToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Feedback.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.Feedback.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Feedback.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.Feedback.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.ColumnSet.Media.VerticalStretch.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Feedback.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.Feedback.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.MediaAudio.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.MediaAudioInColumnSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.MediaInColumnSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Feedback.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.Feedback.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.ColumnSet.Media.VerticalStretch.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Feedback.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.Feedback.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.MediaAudio.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.MediaAudioInColumnSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.MediaInColumnSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Feedback.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.Feedback.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Feedback.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Feedback.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.MediaAudioInColumnSet.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.MediaAudioInColumnSet.png
Labels: Platform-UWP

#1875 Set version on show cards to allow them to be serialized/deserialized independently.
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.h
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ObjectModelTest.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Action.ShowCard.StyleToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Action.ShowCardToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.AdaptiveCardToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Container.SelectActionToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Image.ImageBaseUrlToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.ActivityUpdateToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.FoodOrderToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.InputsToJson.json
Labels: Platform-Shared Model

#1894 Remove Resource Type from the RemoteResourceInformation structure
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/MarkDownParser.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/RemoteResourceInformation.java
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/RemoteResourceInformation.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACORemoteResourceInformation.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACORemoteResourceInformation.mm
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ResourceInformationTests.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Media.cpp
  source/shared/cpp/ObjectModel/MediaSource.cpp
  source/shared/cpp/ObjectModel/RemoteResourceInformation.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveRemoteResourceInformation.cpp
  source/uwp/Renderer/lib/AdaptiveRemoteResourceInformation.h
  source/uwp/Renderer/lib/Util.cpp
Labels: Platform-.NET, Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS

#1878 Tupha/media support dotnet html
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Samples/AdaptiveCards.Sample.Html/Program.cs
Labels: Platform-.NET

#1872 - enforces stricter parsing
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
Labels: Platform-Shared Model

#1896 Fix ref counting issue in AdaptiveCardRenderer::get_HostConfig
  source/uwp/Renderer/lib/AdaptiveCardRendererComponent.cpp
Labels: Platform-UWP

#1696 .NET Accessibility updates
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
Labels: Platform-.NET

#1920 .NET Language passed through context + SharedModel/.NET Invalid Language Warning
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveCardConverter.cs
  source/dotnet/Library/AdaptiveCards/Rendering/RendererUtilities.cs
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
Labels: Platform-.NET, Platform-Shared Model

#1944 Jwoo/ios markdown hyperlink
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerUITests/ADCIOSVisualizerUITests.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContainerRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIContentHoldingView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUIImageView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUIImageView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUILabel.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUILabel.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1947 Fix issue with know properties being treated as additional in error cases
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedElementConverter.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
Labels: Platform-.NET

#1948 Fix choiceset separators on android and ios
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/CheckBoxSetInputHandler.java
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
Labels: Platform-Android, Platform-iOS

#1956 Add markdown ordered list support to android
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/TextBlockRenderer.java
Labels: Platform-Android

#1770 Removed the ListBox in AdaptiveChoiceSetRenderer since it interferes …
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveChoiceSetRenderer.cs
Labels: Platform-.NET

#1966 Jwoo/ios image view fix
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
Labels: Platform-iOS

#1954 Jwoo/ios container style
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerUITests/ADCIOSVisualizerUITests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfigPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputChoiceSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputTableView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleInputDataSource.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#1955 MarkDown and DateTime Rendering in FactSet
  samples/Tests/FactSet.MarkdownAndDateTime.json
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/BaseActionElement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/BaseCardElement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/Fact.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/FactSet.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/WarningStatusCode.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/FactSetRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/RendererUtil.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/TextBlockRenderer.java
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfigPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/shared/cpp/ObjectModel/Fact.cpp
  source/shared/cpp/ObjectModel/Fact.h
  source/shared/cpp/ObjectModel/FactSet.cpp
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/Util.cpp
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.FactSet.MarkdownAndDateTime.57ad53c.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.FactSet.MarkdownAndDateTimeToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.FactSet.MarkdownAndDateTime.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.FactSet.MarkdownAndDateTime.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.FactSet.MarkdownAndDateTime.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.FactSet.MarkdownAndDateTime.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.FactSet.MarkdownAndDateTime.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.FactSet.MarkdownAndDateTime.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.FactSet.MarkdownAndDateTime.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.FactSet.MarkdownAndDateTime.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.FactSet.MarkdownAndDateTime.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.FactSet.MarkdownAndDateTime.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Elements.AdaptiveCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.v1.0.Scenarios.ActivityUpdate.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.FactSet.MarkdownAndDateTime.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.FactSet.MarkdownAndDateTime.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.FactSetWrapping.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.FactSet.MarkdownAndDateTime.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.FactSet.MarkdownAndDateTime.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.FactSetWrapping.png
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveFact.cpp
  source/uwp/Renderer/lib/AdaptiveFact.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS

#1974 Tweaks to adaptive-card.json schema so that it passes validation.
  schemas/adaptive-card.json
Labels: Platform-UWP
