Repository microsoft/AdaptiveCards, pull requests merged in 2018-07, with the labels that each got.

#1670 factset's title maxwidth's priority changed to required.
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/sample.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
Labels: Platform-iOS

#1672 added explicit column width for ios
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.h
Labels: Platform-iOS

#1697 Increase the information in the version error message
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
Labels: Platform-Shared Model

#1700 Reverse backwards if to allow image tracking
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1701 Set AutomationProperties.Name to AltText on Images
  source/uwp/Renderer/lib/MediaHelpers.cpp
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1702 added resource resolver
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ADCResolver.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ADCResolver.m
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOHostConfig.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOIResourceResolver.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOResourceResolvers.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOResourceResolvers.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/CMakeLists.txt
Labels: Platform-iOS

#1712 Media event changes
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveMediaEventInvoker.cpp
  source/uwp/Renderer/lib/AdaptiveMediaEventInvoker.h
  source/uwp/Renderer/lib/MediaHelpers.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Visualizer/ViewModel/DocumentViewModel.cs
Labels: Platform-UWP

#1709 Fixes UI Issues
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSourceCompactStyle.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContainerRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
Labels: Platform-iOS

#1713 Media fixes
  samples/Tests/InvalidMediaMix.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.Media.png
  source/uwp/Renderer/lib/MediaHelpers.cpp
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#1718 Add ParseUtil tests
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParseUtilTest.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
Labels: Platform-Shared Model

#1717 allows action set view to be accessed
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.h
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCard.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOAdaptiveCardPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRDateTextField.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIBaseActionElementRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRendererPrivate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextView.mm
Labels: Platform-iOS

#1560 [Android] VerticalContentAlignment implementation
  samples/Tests/VerticalContentAlignment_ForcedColumn.json
  samples/Tests/VerticalContentAlignment_ForcedContainer.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ContainerRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/registration/CardRendererRegistration.java
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.VerticalContentAlignment_ForcedColumn.json.ffa2a32.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.VerticalContentAlignment_ForcedContainer.json.7acb47c.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.VerticalContentAlignment_ForcedColumn.jsonToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.VerticalContentAlignment_ForcedContainer.jsonToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.VerticalContentAlignment_ForcedColumn.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.VerticalContentAlignment_ForcedColumn.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.VerticalContentAlignment_ForcedContainer.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.microsoft-teams.Tests.VerticalContentAlignment_ForcedContainer.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.VerticalContentAlignment_ForcedColumn.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.VerticalContentAlignment_ForcedColumn.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.VerticalContentAlignment_ForcedContainer.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.outlook-desktop.Tests.VerticalContentAlignment_ForcedContainer.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.VerticalContentAlignment_ForcedColumn.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.VerticalContentAlignment_ForcedColumn.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.VerticalContentAlignment_ForcedContainer.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sample.Tests.VerticalContentAlignment_ForcedContainer.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.VerticalContentAlignment_ForcedColumn.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.VerticalContentAlignment_ForcedColumn.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.VerticalContentAlignment_ForcedContainer.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.sampleDifferentFont.Tests.VerticalContentAlignment_ForcedContainer.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.VerticalContentAlignment_ForcedColumn.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.VerticalContentAlignment_ForcedColumn.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.VerticalContentAlignment_ForcedContainer.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.skype.Tests.VerticalContentAlignment_ForcedContainer.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.VerticalContentAlignment_ForcedColumn.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.VerticalContentAlignment_ForcedColumn.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.VerticalContentAlignment_ForcedContainer.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-notification.Tests.VerticalContentAlignment_ForcedContainer.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.VerticalContentAlignment_ForcedColumn.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.VerticalContentAlignment_ForcedColumn.json.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.VerticalContentAlignment_ForcedContainer.json.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.windows-timeline.Tests.VerticalContentAlignment_ForcedContainer.json.png
Labels: Platform-Android

#1626 [iOS] Vertical Content Alignment implementation
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContainerRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
Labels: Platform-iOS
