Repository microsoft/AdaptiveCards, pull requests merged in 2019-01, with the labels that each got.

#2265 Fix Input.ChoiceSet description
  schemas/adaptive-card.json
Labels: Area-Schema

#2271 Mark media sources as required in the schema
  schemas/adaptive-card.json
Labels: Area-Schema

#2261 Update UWP test data for ColumnSet SelectAction test file
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Elements.ColumnSet.SelectAction.1d7785f.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.0.Elements.ColumnSet.SelectAction.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.0.Elements.ColumnSet.SelectAction.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.0.Elements.ColumnSet.SelectAction.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.0.Elements.ColumnSet.SelectAction.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.0.Elements.ColumnSet.SelectAction.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.ColumnSet.SelectActionToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.0.Elements.ColumnSet.SelectAction.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.0.Elements.ColumnSet.SelectAction.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.0.Elements.ColumnSet.SelectAction.png
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
Labels: Platform-UWP

#2263 Jwoo/ios wrap
  samples/Tests/SearchResults.json
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleInputDataSource.mm
Labels: Platform-iOS

#2270 Misc. function signature fixes for UWP
  source/uwp/PerfApp/MainPage.xaml.cpp
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveCard.h
  source/uwp/Renderer/lib/AdaptiveHostConfig.cpp
  source/uwp/Renderer/lib/AdaptiveHostConfig.h
  source/uwp/Renderer/lib/DateTimeParser.cpp
  source/uwp/Renderer/lib/DateTimeParser.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#2258 Remove hardcoded color in input text
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TextInputRenderer.java
Labels: Platform-Android

#2254 updated ios sample app
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ACVTableViewController.m
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
Labels: Platform-iOS

#2198 [.NET] Change Auto and Stretch to lower case versions
  source/dotnet/Library/AdaptiveCards/AdaptiveColumnWidth.cs
Labels: Platform-.NET

#2300 [Work in progress] 1.2 feature set
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-designer-app/package-lock.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-designer/src/adaptivecards-designer.css
  source/nodejs/adaptivecards-designer/src/containers/host-container.ts
  source/nodejs/adaptivecards-designer/src/containers/outlook/outlook-container.ts
  source/nodejs/adaptivecards-designer/src/containers/timeline/timeline-container.ts
  source/nodejs/adaptivecards-designer/src/designer-peers.ts
  source/nodejs/adaptivecards-site/package-lock.json
  source/nodejs/adaptivecards-site/themes/adaptivecards/package-lock.json
  source/nodejs/adaptivecards-visualizer/package-lock.json
  source/nodejs/adaptivecards-visualizer/src/containers/host-container.ts
  source/nodejs/adaptivecards-visualizer/src/containers/outlook.ts
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/adaptivecards/src/__tests__/utils/stringsubstitutions.spec.ts
  source/nodejs/adaptivecards/src/adaptivecards.ts
  source/nodejs/adaptivecards/src/card-elements.ts
  source/nodejs/adaptivecards/src/enums.ts
  source/nodejs/adaptivecards/src/host-config.ts
  source/nodejs/adaptivecards/src/shared.ts
  source/nodejs/adaptivecards/src/utils.ts
  source/nodejs/package-lock.json
Labels: Platform-HTML

#2306 Add UWP object model tests and fix bugs
  source/uwp/Renderer/lib/AdaptiveOpenUrlAction.cpp
  source/uwp/Renderer/lib/AdaptiveShowCardAction.cpp
  source/uwp/UWPUnitTests/ObjectModelTests.cs
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
Labels: Platform-UWP

#2244 Add ActionSet to shared model and UWP
  samples/v1.2/Elements/ActionSet.json
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ActionSet.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ActionSetParser.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/CardElementType.java
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.h
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.json
  source/shared/cpp/ObjectModel/ActionSet.cpp
  source/shared/cpp/ObjectModel/ActionSet.h
  source/shared/cpp/ObjectModel/ElementParserRegistration.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Elements.ActionSet.c86c3f0.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.2.Elements.ActionSet.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.2.Elements.ActionSet.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.2.Elements.ActionSet.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.2.Elements.ActionSet.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.ActionSet.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.ActionSet.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.2.Elements.ActionSet.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.2.Elements.ActionSet.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.2.Elements.ActionSet.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.2.Elements.ActionSet.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Elements.ActionSetToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.2.Elements.ActionSet.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.2.Elements.ActionSet.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.ActionSet.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.ActionSet.png
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveActionSet.cpp
  source/uwp/Renderer/lib/AdaptiveActionSet.h
  source/uwp/Renderer/lib/AdaptiveActionSetRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveActionSetRenderer.h
  source/uwp/Renderer/lib/AdaptiveCardRendererComponent.cpp
  source/uwp/Renderer/lib/AsyncOperations.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
  source/uwp/UWPUnitTests/ObjectModelTests.cs
Labels: Platform-Shared Model, Platform-UWP

#2317 Add missing exclusivetos to UWP API
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveActionParserRegistration.cpp
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveCardParseResult.cpp
  source/uwp/Renderer/lib/AdaptiveCardParseResult.h
  source/uwp/Renderer/lib/AdaptiveCardRendererComponent.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceSetInput.h
  source/uwp/Renderer/lib/AdaptiveChoiceSetInputRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveChoiceSetInputRenderer.h
  source/uwp/Renderer/lib/AdaptiveColumnSet.cpp
  source/uwp/Renderer/lib/AdaptiveColumnSet.h
  source/uwp/Renderer/lib/AdaptiveColumnSetRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveColumnSetRenderer.h
  source/uwp/Renderer/lib/AdaptiveContainerRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveContainerRenderer.h
  source/uwp/Renderer/lib/AdaptiveDateInputRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveDateInputRenderer.h
  source/uwp/Renderer/lib/AdaptiveElementParserRegistration.cpp
  source/uwp/Renderer/lib/AdaptiveElementParserRegistration.h
  source/uwp/Renderer/lib/AdaptiveFactSet.cpp
  source/uwp/Renderer/lib/AdaptiveFactSet.h
  source/uwp/Renderer/lib/AdaptiveFactSetRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveFactSetRenderer.h
  source/uwp/Renderer/lib/AdaptiveHostConfigParseResult.cpp
  source/uwp/Renderer/lib/AdaptiveHostConfigParseResult.h
  source/uwp/Renderer/lib/AdaptiveImageRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveImageRenderer.h
  source/uwp/Renderer/lib/AdaptiveImageSet.cpp
  source/uwp/Renderer/lib/AdaptiveImageSet.h
  source/uwp/Renderer/lib/AdaptiveImageSetRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveImageSetRenderer.h
  source/uwp/Renderer/lib/AdaptiveMediaRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveMediaRenderer.h
  source/uwp/Renderer/lib/AdaptiveNumberInputRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveNumberInputRenderer.h
  source/uwp/Renderer/lib/AdaptiveRenderContext.cpp
  source/uwp/Renderer/lib/AdaptiveTextBlockRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveTextBlockRenderer.h
  source/uwp/Renderer/lib/AdaptiveTextInputRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveTextInputRenderer.h
  source/uwp/Renderer/lib/AdaptiveTimeInputRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveTimeInputRenderer.h
  source/uwp/Renderer/lib/AdaptiveToggleInputRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveToggleInputRenderer.h
  source/uwp/Renderer/lib/InputValue.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlHelpers.h
  source/uwp/UWPUnitTests/ObjectModelTests.cs
Labels: Platform-UWP

#2319 Fix UWP build break caused by conflict between actionset and exclusiveto changes
  source/uwp/Renderer/lib/AdaptiveActionSetRenderer.cpp
  source/uwp/Renderer/lib/AdaptiveActionSetRenderer.h
Labels: Platform-UWP

#2304 implemented choiceset / toggle input wrap property
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ChoiceSetInput.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ToggleInput.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ChoiceSetInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ToggleInputRenderer.java
Labels: Platform-Android

#2297 Jwoo/ios sample app update
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ADCResolver.m
Labels: Platform-iOS

#2307 Jwoo/html wrap
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
Labels: Platform-HTML

#2309 [Android]Fix container layout issue (#2308)
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ContainerRenderer.java
Labels: Platform-Android

#2335 Add two small features to the UWP test app
  source/uwp/AdaptiveCardTestApp/Pages/StartPage.xaml
  source/uwp/AdaptiveCardTestApp/Pages/StartPage.xaml.cs
  source/uwp/AdaptiveCardTestApp/Pages/TestResultsPage.xaml
  source/uwp/AdaptiveCardTestApp/Pages/TestResultsPage.xaml.cs
Labels: Platform-UWP

#2337 Cherry-pick fixes to crashing constructors to release/1.1
  source/uwp/Renderer/lib/AdaptiveOpenUrlAction.cpp
  source/uwp/Renderer/lib/AdaptiveShowCardAction.cpp
  source/uwp/UWPUnitTests/ObjectModelTests.cs
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
Labels: Platform-UWP

#2339 Clean up shared model headers
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardParseExceptionTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdditionalPropertiesTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/Base64Test.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/CustomParsingForIOSTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/DateAndTimeUnitTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EnumTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ExplicitDimensionTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/FactUnitTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/FontStylesUnitTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ImageBackgroundColorTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/MarkDownUnitTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ObjectModelTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParserRegistrationTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ResourceInformationTests.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/SemanticVersionTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/stdafx.h
  source/shared/cpp/ObjectModel/ActionParserRegistration.h
  source/shared/cpp/ObjectModel/ActionSet.h
  source/shared/cpp/ObjectModel/AdaptiveCardParseException.h
  source/shared/cpp/ObjectModel/AdaptiveCardParseWarning.h
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/BaseInputElement.h
  source/shared/cpp/ObjectModel/ChoiceInput.cpp
  source/shared/cpp/ObjectModel/ChoiceInput.h
  source/shared/cpp/ObjectModel/ChoiceSetInput.h
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/DateInput.h
  source/shared/cpp/ObjectModel/DateTimePreparsedToken.h
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.h
  source/shared/cpp/ObjectModel/ElementParserRegistration.h
  source/shared/cpp/ObjectModel/Fact.h
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/HostConfig.h
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/ImageSet.h
  source/shared/cpp/ObjectModel/MarkDownParser.h
  source/shared/cpp/ObjectModel/Media.h
  source/shared/cpp/ObjectModel/MediaSource.h
  source/shared/cpp/ObjectModel/NumberInput.h
  source/shared/cpp/ObjectModel/OpenUrlAction.h
  source/shared/cpp/ObjectModel/ParseUtil.h
  source/shared/cpp/ObjectModel/RemoteResourceInformation.h
  source/shared/cpp/ObjectModel/Separator.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/SubmitAction.h
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextInput.h
  source/shared/cpp/ObjectModel/TimeInput.h
  source/shared/cpp/ObjectModel/ToggleInput.h
  source/shared/cpp/ObjectModel/ToggleVisibilityAction.h
  source/shared/cpp/ObjectModel/ToggleVisibilityTarget.h
  source/shared/cpp/ObjectModel/UnknownElement.h
  source/shared/cpp/ObjectModel/pch.h
Labels: Platform-Shared Model

#2332 Fix unknown element serialization in shared model and UWP
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdditionalPropertiesTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EnumTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParseUtilTest.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/UnknownElement.cpp
  source/uwp/AdaptiveCardTestApp/Expected/Tests.Action.TitleToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.AdaptiveCard.UnknownElementsToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.CustomParsingTestUsingProgressBarToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.FeedbackToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.IconsInSomeActionsToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.InputsFormWithHeightStretchToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.NotificationCardToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.SearchResultsToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Action.ShowCardToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Action.SubmitToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.AdaptiveCardToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Container.SelectActionToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Image.ImageBaseUrlToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Input.ChoiceSetToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Input.DateToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Input.NumberToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Input.Text.StyleToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Input.TextToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Input.TimeToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Elements.Input.ToggleToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.ActivityUpdateToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.CalendarReminderToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.FoodOrderToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.InputFormToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Scenarios.InputsToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Elements.Action.Submit.SentimentToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Elements.Input.Text.InlineActionToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.0.Scenarios.FoodOrder.png
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveUnsupportedElement.cpp
  source/uwp/Renderer/lib/AdaptiveUnsupportedElement.h
  source/uwp/Renderer/lib/Util.cpp
Labels: Platform-Shared Model, Platform-UWP

#2340 making changes to reflect the changes in shared model for ios
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRBaseCardElementRenderer.mm
Labels: Platform-iOS

#2342 Jwoo/ios unit testing
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/xcshareddata/xcschemes/ADCIOSVisualizer.xcscheme
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseCardElement.h
  source/shared/cpp/ObjectModel/Enums.h
Labels: Platform-iOS

#2346 Fix for uwp column object model to properly handle pixel width
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/Image.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
  source/uwp/Renderer/lib/AdaptiveColumn.cpp
  source/uwp/UWPUnitTests/ObjectModelTests.cs
Labels: Platform-UWP
