Repository microsoft/AdaptiveCards, pull requests merged in 2019-05, with the labels that each got.

#2805 [UWP][.NET] Add logging and update DeepFallback card
  samples/Tests/DeepFallback.json
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.DeepFallback.f7f78ea.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.DeepFallbackToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/cortana-skills.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/cortana-skills.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-dark.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-dark.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-light.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-light.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/render-to-image.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/render-to-image.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/webchat.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/webchat.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.Tests.DeepFallback.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.Tests.DeepFallback.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.Tests.DeepFallback.json
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-.NET, Platform-UWP

#2833 [TS] Update to latest npm packages
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-designer-app/package-lock.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-visualizer/package-lock.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/package-lock.json
  source/nodejs/package.json
Labels: Platform-HTML

#2835 [UWP] Rework XamlHelpers a bit
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlHelpers.cpp
  source/uwp/Renderer/lib/XamlHelpers.h
Labels: Platform-UWP

#2804 [Android] Reorder build.gradle to fix build break and upgrade versions
  source/android/build.gradle
  source/android/gradle/wrapper/gradle-wrapper.properties
  source/android/mobilechatapp/build.gradle
Labels: Platform-Android

#2813 fixes toggle all element issue
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageSetUICollectionView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRMediaRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#2829 fixes issues about separator with visibility
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRSeparator.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRSeparator.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleVisibilityTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.mm
Labels: Platform-iOS

#2830 Jwoo/ios min max date
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRDateTextField.mm
Labels: Platform-iOS

#2834 [UWP] Update UWP nuget versions
  source/uwp/AdaptiveCardTestApp/AdaptiveCardTestApp.csproj
  source/uwp/UWPTestLibrary/UWPTestLibrary.csproj
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
  source/uwp/Visualizer/AdaptiveCardVisualizer.csproj
Labels: Platform-UWP

#2836 [Android] Add warnings around fallback
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/registration/CardRendererRegistration.java
Labels: Platform-Android

#2870 [.NET] Hide all showcards before showing a new one
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
Labels: Platform-.NET

#2858 [UWP] Fix visibility issues with Columns and Separators
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/lib/ElementTagContent.cpp
  source/uwp/Renderer/lib/ElementTagContent.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-UWP

#2866 Jwoo/ios bleed top bottom patch
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomProgressBarRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/shared/cpp/ObjectModel/ParseUtil.h
Labels: Platform-iOS

#2880 Jwoo/ios background image spec update
  samples/Tests/BackgroundImage.VerticalAndHorizontalAlignment.json
  samples/v1.2/Elements/AdaptiveCard.BackgroundImage.FillMode.RepeatVertically.json
  samples/v1.2/Elements/AdaptiveCard.BackgroundImage.VerticalAlignment.json
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModel.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/BackgroundImage.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ImageFillMode.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_AdaptiveCards__EnumHelpers__EnumMappingT_AdaptiveCards__ImageFillMode_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/BackgroundImageLoaderAsync.java
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.mm
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.h
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.json
  source/shared/cpp/ObjectModel/BackgroundImage.cpp
  source/shared/cpp/ObjectModel/BackgroundImage.h
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Elements.AdaptiveCard.BackgroundImage.FillMode.RepeatHorizontally.952fda0.json
  source/uwp/Renderer/lib/AdaptiveBackgroundImage.cpp
Labels: Platform-Shared Model, Platform-iOS

#2935 [Shared] fixes italic and strike-through being allowed in TextBlock
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/RichTextElementProperties.java
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/ObjectModel/RichTextElementProperties.cpp
  source/shared/cpp/ObjectModel/RichTextElementProperties.h
  source/shared/cpp/ObjectModel/TextElementProperties.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.h
  source/shared/cpp/ObjectModel/TextRun.cpp
  source/shared/cpp/ObjectModel/TextRun.h
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
Labels: Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS

#2921 [Shared] Updates .GitIgnore
  .gitignore
Labels: Platform-Shared Model

#2832 [.NET] Update nuget packages (builds/tests clean)
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Xceed/AdaptiveCards.Rendering.Wpf.Xceed.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCards.Rendering.Wpf.csproj
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs
  source/dotnet/Samples/AdaptiveCards.Sample.Html/AdaptiveCards.Sample.Html.csproj
  source/dotnet/Samples/AdaptiveCards.Sample.ImageRender/AdaptiveCards.Sample.ImageRender.csproj
  source/dotnet/Samples/ImageRendererServer/ImageRendererServer.csproj
  source/dotnet/Samples/WPFVisualizer/AdaptiveCards.Sample.WPFVisualizer.csproj
  source/dotnet/Samples/WPFVisualizer/packages.config
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/AdaptiveCards.Rendering.Html.Test.csproj
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCards.Test.csproj
  source/dotnet/Test/AdaptiveCards.Test/HostConfigApiTests.cs
Labels: Platform-.NET

#2927 Jwoo/dot net action set fix
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionSetRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveContainerRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
Labels: Platform-.NET

#2959 [UWP] Apply stretch property to auto sized person elements
  samples/v1.2/Elements/Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Elements.Column.Weighted.Image.8f6d6d7.json
  source/uwp/AdaptiveCardTestApp/Expected/cortana-skills.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/cortana-skills.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-dark.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-dark.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-light.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-light.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/render-to-image.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/render-to-image.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Elements.Column.Weighted.ImageToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/webchat.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/webchat.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.Column.Weighted.Image.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.Column.Weighted.Image.png
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#2965 [UWP] Fix build break problems for some VS users
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
Labels: Platform-UWP

#2970 Jwoo/uwp italic strike through
  samples/v1.2/Elements/TextBlock.Italic.json
  samples/v1.2/Elements/TextBlock.Strikethrough.json
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/RichTextElementProperties.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/TextBlock.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/TextElementProperties.java
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/ObjectModel/RichTextElementProperties.cpp
  source/shared/cpp/ObjectModel/RichTextElementProperties.h
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextElementProperties.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.h
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Elements.TextBlock.Italic.93e57c6.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Elements.TextBlock.Strikethrough.1ea9a80.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.TextBlock.Italic.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.TextBlock.Italic.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.TextBlock.Strikethrough.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.2.Elements.TextBlock.Strikethrough.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Elements.TextBlock.ItalicToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Elements.TextBlock.StrikethroughToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.TextBlock.Italic.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.TextBlock.Italic.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.TextBlock.Strikethrough.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.2.Elements.TextBlock.Strikethrough.png
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveTextBlock.h
  source/uwp/Renderer/lib/AdaptiveTextElement.cpp
  source/uwp/Renderer/lib/AdaptiveTextElement.h
  source/uwp/Renderer/lib/AdaptiveTextRun.cpp
  source/uwp/Renderer/lib/AdaptiveTextRun.h
  source/uwp/Renderer/lib/TextHelpers.cpp
  source/uwp/Renderer/lib/TextHelpers.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/UWPUnitTests/ObjectModelTests.cs
Labels: Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS
