Repository microsoft/AdaptiveCards, pull requests merged in 2019-03, with the labels that each got.

#2493 [UWP] Make "Add to Timeline" checkbox align to bottom
  source/uwp/AdaptiveCardTestApp/Pages/StartPage.xaml
Labels: Platform-UWP

#2450 [UWP] Add handling for initial values for Date and Time Inputs
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/DateTimePreparser.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_unsigned_int.java
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.h
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.0.Elements.Input.Date.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.0.Elements.Input.Time.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.0.Elements.Input.Date.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.0.Elements.Input.Time.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.0.Elements.Input.Date.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.0.Elements.Input.Time.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.0.Elements.Input.Date.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.0.Elements.Input.Time.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.0.Elements.Input.Date.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.0.Elements.Input.Time.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.0.Elements.Input.Date.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.0.Elements.Input.Time.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.0.Scenarios.Inputs.png
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-Shared Model, Platform-UWP

#2451 [.NET] Update date and time input handling to only support desired formats
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Xceed/XceedDateInput.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Xceed/XceedTimeInput.cs
Labels: Platform-.NET

#2406 shared model bleed feature
  samples/Tests/Bleed.Test.json
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/CollectionTypeElement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/Column.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ColumnSet.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/Container.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/FactSet.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/InternalId.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ParseContext.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_ParseContext.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_std__shared_ptrT_AdaptiveCards__CollectionTypeElement_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ContainerStyleTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/UnsupportedtypesParsingTest.cpp
  source/shared/cpp/ObjectModel/CollectionTypeElement.cpp
  source/shared/cpp/ObjectModel/CollectionTypeElement.h
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.cpp
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/Enums.cpp
  source/shared/cpp/ObjectModel/Enums.h
  source/shared/cpp/ObjectModel/Fact.cpp
  source/shared/cpp/ObjectModel/FactSet.cpp
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/ParseContext.cpp
  source/shared/cpp/ObjectModel/ParseContext.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/Util.cpp
  source/shared/cpp/ObjectModel/Util.h
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj.filters
Labels: Platform-Shared Model

#2529 Update amalgamated jsoncpp source
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdditionalPropertiesTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ContainerStyleTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParseUtilTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/UnsupportedtypesParsingTest.cpp
  source/shared/cpp/ObjectModel/BaseElement.cpp
  source/shared/cpp/ObjectModel/ChoiceInput.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Fact.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ParseUtil.h
  source/shared/cpp/ObjectModel/Separator.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SubmitAction.cpp
  source/shared/cpp/ObjectModel/ToggleVisibilityTarget.cpp
  source/shared/cpp/ObjectModel/json/json-forwards.h
  source/shared/cpp/ObjectModel/json/json.h
  source/shared/cpp/ObjectModel/jsoncpp.cpp
  source/uwp/Renderer/lib/Util.cpp
Labels: Platform-Shared Model

#2550 [UWP] Remove test code that sets time inputs to 9:00 am
  source/uwp/AdaptiveCardTestApp/Expected/cortana-skills.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-dark.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams-light.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/webchat.v1.0.Scenarios.Inputs.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.0.Scenarios.Inputs.png
  source/uwp/UWPTestLibrary/ImageWaiter.cs
Labels: Platform-UWP

#2561 Update project files to build in all configurations/platforms
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/PerfApp/PerfApp.vcxproj
Labels: Platform-UWP

#2581 [.NET] Flatten RichTextBlock object model
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRichTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveParagraph.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveRichTextBlock.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextRun.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedElementConverter.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET

#2582 implements action set for iOS
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.mm
Labels: Platform-iOS
