Repository microsoft/AdaptiveCards, pull requests merged in 2019-04, with the labels that each got.

#2559 Refactor WPF toggle visibility code
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTargetElement.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveToggleVisibilityAction.cs
  source/dotnet/Library/AdaptiveCards/ToggleElementsConverter.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveActionTests.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET

#2629 [Shared] Fix up some shared model cppcoreguidelines failures
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardSchemaKey.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ColorConfig.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ColorsConfig.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/ContainerStyleDefinition.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/TextElementProperties.java
  source/shared/cpp/ObjectModel/BackgroundImage.cpp
  source/shared/cpp/ObjectModel/CollectionTypeElement.h
  source/shared/cpp/ObjectModel/ColumnSet.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.cpp
  source/shared/cpp/ObjectModel/DateTimePreparser.h
  source/shared/cpp/ObjectModel/Fact.cpp
  source/shared/cpp/ObjectModel/Fact.h
  source/shared/cpp/ObjectModel/HostConfig.cpp
  source/shared/cpp/ObjectModel/Inline.h
  source/shared/cpp/ObjectModel/OpenUrlAction.h
  source/shared/cpp/ObjectModel/Paragraph.h
  source/shared/cpp/ObjectModel/ParseContext.cpp
  source/shared/cpp/ObjectModel/ParseContext.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/SubmitAction.h
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.h
  source/shared/cpp/ObjectModel/TextRun.cpp
  source/shared/cpp/ObjectModel/TextRun.h
  source/shared/cpp/ObjectModel/ToggleVisibilityAction.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-Shared Model

#2659 [ReactNative] Convert JPEG files with .png extension to PNG format
  source/community/reactnative/android/app/src/main/res/drawable/background.png
  source/community/reactnative/android/app/src/main/res/drawable/button.png
Labels: Platform-ReactNative

#2698 Updating the dotnet projects metadata to generate the nuget packages (#2010)
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Xceed/AdaptiveCards.Rendering.Wpf.Xceed.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCards.Rendering.Wpf.csproj
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
Labels: Platform-.NET

#2699 Adding the proper copyright for .NET packages (#2277) (#2278)
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Xceed/AdaptiveCards.Rendering.Wpf.Xceed.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCards.Rendering.Wpf.csproj
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
Labels: Platform-.NET

#2692 [.Net] Rich Text Block updates
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRichTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveInlinesConverter.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveParagraph.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveRichTextBlock.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextBlock.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextRun.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedElementConverter.cs
  source/dotnet/Library/AdaptiveCards/IAdaptiveInline.cs
  source/dotnet/Library/AdaptiveCards/IAdaptiveTextElement.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET

#2701 rich text block mod2 + italic & strikethrough
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRichTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.mm
Labels: Platform-iOS

#2675 fallback for ios
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCustomActionRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCustomRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRErrors.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRErrors.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIContentHoldingView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.mm
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/BaseElement.h
  source/shared/cpp/ObjectModel/CollectionTypeElement.h
  source/shared/cpp/ObjectModel/ParseContext.cpp
  source/shared/cpp/ObjectModel/ParseContext.h
Labels: Platform-iOS

#2711 [.NET WPF] Select actions on text runs
  samples/Tests/RichTextBlock.TextRun.SelectActions.json
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRichTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextRun.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET

#2713 [.NET] Add italics and strike through
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRichTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextBlock.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextRun.cs
  source/dotnet/Library/AdaptiveCards/IAdaptiveTextElement.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET

#2735 [.NET] Highlight support for text runs
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRichTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/Helpers/ControlExtensions.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTextRun.cs
  source/dotnet/Library/AdaptiveCards/Rendering/ForegroundColorsConfig.cs
  source/dotnet/Library/AdaptiveCards/Rendering/HighlightColorConfig.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET

#2733 [UWP] Don't support show cards on select actions
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Platform-UWP

#2647 Fix Null value handling for Min, Max, and Value in AdaptiveNumberInput (release/1.1)
  custom.props
  source/dotnet/Library/AdaptiveCards.Rendering.Html/Properties/AssemblyInfo.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Xceed/Properties/AssemblyInfo.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/Properties/AssemblyInfo.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveNumberInput.cs
  source/dotnet/Library/AdaptiveCards/Properties/AssemblyInfo.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveNumberInputTests.cs
Labels: Platform-.NET

#2560 [.NET] Fallback support
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveActionSetRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveBaseElement.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveCardConverter.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveFallbackConverter.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveFallbackException.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveFeatureRegistration.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedElement.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedElementConverter.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveUnknownElement.cs
  source/dotnet/Library/AdaptiveCards/Globals.cs
  source/dotnet/Library/AdaptiveCards/IgnoreEmptyItemsConverter.cs
  source/dotnet/Library/AdaptiveCards/ParseContext.cs
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveElementRenderers.cs
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs
  source/dotnet/Samples/WPFVisualizer/MainWindow.xaml.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
  source/dotnet/Test/AdaptiveCards.Test/ParseFallbackTest.cs
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
Labels: Platform-.NET, Priority-Now

#2765 Make `compact` the default Input.ChoiceSet style
  source/dotnet/Library/AdaptiveCards/AdaptiveChoiceInputStyle.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveChoiceSetInput.cs
Labels: Breaking Change, Platform-.NET
