Repository microsoft/AdaptiveCards, pull requests merged in 2019-09, with the labels that each got.

#3438 [.NET] Relax Newtonsoft.Json version requirements
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCards.Rendering.Wpf.csproj
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
  source/dotnet/Samples/WPFVisualizer/AdaptiveCards.Sample.WPFVisualizer.csproj
  source/dotnet/Samples/WPFVisualizer/packages.config
Labels: AdaptiveCards v1.2.3, Platform-.NET

#3437 Fix string/boolean parsing regression with null
  source/nodejs/adaptivecards/src/utils.ts
Labels: AdaptiveCards v1.2.3

#3426 [UWP][.NET][Shared] Update to VS 2019
  source/dotnet/Samples/WPFVisualizer.PackageProject/AdaptiveCards.Sample.WPFVisualizer.PackageProject.wapproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/uwp/AdaptiveCardTestApp/AdaptiveCardTestApp.csproj
  source/uwp/AdaptiveCardTestApp/Package.appxmanifest
  source/uwp/AdaptiveCards.sln
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/PerfApp/PerfApp.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/UWPTestLibrary/UWPTestLibrary.csproj
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
  source/uwp/Visualizer/AdaptiveCardVisualizer.csproj
  source/uwp/Visualizer/Package.appxmanifest
Labels: Platform-.NET, Platform-Shared Model, Platform-UWP

#3449 Added inner card support for ActionSet
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
Labels: AdaptiveCards v1.2.3

#3462 [.NET] Add new OnDeserializingMissingVersion callback
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveCardConverter.cs
  source/dotnet/Samples/WPFVisualizer/MainWindow.xaml.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
Labels: Platform-.NET
