Repository microsoft/AdaptiveCards, pull requests merged in 2019-11, with the labels that each got.

#3556 .Net Concurrency
  source/dotnet/Library/AdaptiveCards/AdaptiveFallbackConverter.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveInlinesConverter.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveTypedBaseElementConverter.cs
  source/dotnet/Library/AdaptiveCards/ParseContext.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
Labels: AdaptiveCards v1.2.4

#3555 [UWP] Use custom button to show OpenUrl actions as links
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/lib/ActionHelpers.cpp
  source/uwp/Renderer/lib/LinkButton.cpp
  source/uwp/Renderer/lib/LinkButton.h
  source/uwp/Renderer/lib/pch.h
Labels: AdaptiveCards v1.2.4, Area-Accessibility, Platform-UWP

#3539 [Tools] Update scss-to-json dependencies
  source/tools/hostConfig/scss-to-json/package-lock.json
  source/tools/hostConfig/scss-to-json/package.json
Labels: Area-Tooling, security

#3593 [UWP] OpenUrl selectActions appear as links to accessibility
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: AdaptiveCards v1.2.5, Area-Accessibility, Platform-UWP

#3607 Adding /profile linker option
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
Labels: AdaptiveCards v1.2.5

#3547 [Android] Fix action icon being shown outside the rendered button
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/BaseActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
Labels: Platform-Android

#3594 [Android] Fix spacing in ChoiceSets with wrappjng
  samples/v1.2/Tests/choice_set.json
  samples/v1.2/Tests/choice_set_with_wrap.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ChoiceSetInputRenderer.java
Labels: Msft-TeamsMobile

#3646 [TS] Integrate bug fixes from master into release/1.2
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards v1.2.5

#3641 Implemented the minheight property for the container
  source/community/reactnative/src/components/containers/container.js
  source/community/reactnative/src/models/container-model.js
  source/community/reactnative/src/utils/util.js
  source/community/reactnative/src/visualizer/payloads/payloads/Container.MinHeight.json
  source/community/reactnative/src/visualizer/payloads/payloads/index.js
Labels: Platform-ReactNative
