Repository microsoft/AdaptiveCards, pull requests merged in 2019-10, with the labels that each got.

#3504 [UWP] Update PerfApp cert
  source/uwp/PerfApp/PerfApp_TemporaryKey.pfx
Labels: Platform-UWP

#3520 [Shared] Introduce clang-cl build support
  .gitignore
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.h
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/BaseActionElement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/BaseCardElement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/BaseElement.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/CaseInsensitiveKeyEquals.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/CaseInsensitiveKeyHash.java
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.sln
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/DateAndTimeUnitTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParserRegistrationTest.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ResourceInformationTests.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/stdafx.cpp
  source/shared/cpp/ObjectModel/ActionSet.cpp
  source/shared/cpp/ObjectModel/ActionSet.h
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/BaseElement.h
  source/shared/cpp/ObjectModel/BaseInputElement.h
  source/shared/cpp/ObjectModel/ChoiceSetInput.h
  source/shared/cpp/ObjectModel/CollectionTypeElement.cpp
  source/shared/cpp/ObjectModel/Column.h
  source/shared/cpp/ObjectModel/ColumnSet.h
  source/shared/cpp/ObjectModel/Container.h
  source/shared/cpp/ObjectModel/DateInput.h
  source/shared/cpp/ObjectModel/FactSet.h
  source/shared/cpp/ObjectModel/HostConfig.h
  source/shared/cpp/ObjectModel/Image.h
  source/shared/cpp/ObjectModel/ImageSet.h
  source/shared/cpp/ObjectModel/Inline.cpp
  source/shared/cpp/ObjectModel/Inline.h
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.h
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.h
  source/shared/cpp/ObjectModel/Media.h
  source/shared/cpp/ObjectModel/NumberInput.h
  source/shared/cpp/ObjectModel/OpenUrlAction.h
  source/shared/cpp/ObjectModel/ParseContext.cpp
  source/shared/cpp/ObjectModel/RichTextBlock.h
  source/shared/cpp/ObjectModel/RichTextElementProperties.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.h
  source/shared/cpp/ObjectModel/SubmitAction.h
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextElementProperties.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.h
  source/shared/cpp/ObjectModel/TextInput.h
  source/shared/cpp/ObjectModel/TextRun.h
  source/shared/cpp/ObjectModel/TimeInput.h
  source/shared/cpp/ObjectModel/ToggleInput.h
  source/shared/cpp/ObjectModel/ToggleVisibilityAction.h
  source/shared/cpp/ObjectModel/jsoncpp.cpp
Labels: Platform-Shared Model

#3528 [UWP] Add accessible names to all action buttons
  source/uwp/Renderer/lib/ActionHelpers.cpp
Labels: AdaptiveCards v1.2.4, Area-Accessibility, Platform-UWP

#3529 [.NET] Updated obsolete messages
  source/dotnet/Library/AdaptiveCards/Rendering/AdaptiveHostConfig.cs
Labels: AdaptiveCards v1.2.4, Platform-.NET

#3526 [iOS] Added Custom Parsing and allowed signal to be passed to host app from…
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomActionNewType.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOBaseActionElement.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRCustomActionRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTargetBuilderDirector.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/UtiliOS.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/UtiliOS.mm
Labels: AdaptiveCards v1.2.4, Platform-iOS

#3514 [iOS][Sample App]Updated custom image renderer to handle toggle visibility
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/CustomImageRenderer.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleVisibilityTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/UtiliOS.h
Labels: AdaptiveCards v1.2.4, Platform-iOS
