Repository microsoft/AdaptiveCards, pull requests merged in 2019-06, with the labels that each got.

#3004 [UWP] Build perf improvements
  source/uwp/AdaptiveCards.sln
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
Labels: Platform-UWP

#3023 Update adaptivecards-controls package version
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-controls/package.json
  source/nodejs/adaptivecards-designer-app/package-lock.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-visualizer/package-lock.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/package-lock.json
Labels: Platform-HTML

#3080 Add px to Column.width and some other schema description updates
  schemas/1.2.0/adaptive-card.json
  schemas/src/elements/Column.json
  schemas/src/elements/ColumnSet.json
  schemas/src/elements/Container.json
Labels: Area-Documentation

#3038 [Android] Fix missing feature registration issue
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/ActionLayoutRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/registration/CardRendererRegistration.java
Labels: Potential-1.2.1

#3074 [UWP][UnitTests] Move sample resource resolver into shared test library
  source/uwp/AdaptiveCardTestApp/AdaptiveCardTestApp.csproj
  source/uwp/AdaptiveCardTestApp/ViewModels/RunningTestsViewModel.cs
  source/uwp/UWPTestLibrary/RenderTestHelpers.cs
  source/uwp/UWPTestLibrary/SampleResourceResolver.cs
  source/uwp/UWPTestLibrary/UWPTestLibrary.csproj
  source/uwp/UWPUnitTests/UnitTest.cs
Labels: Area-Tooling, Platform-UWP

#3075 [Shared] Fix error cases for array parsing
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParseUtilTest.cpp
  source/shared/cpp/ObjectModel/ParseUtil.cpp
Labels: Platform-Shared Model

#3059 fixes issue #3057
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/Util.mm
Labels: Platform-iOS, Potential-1.2.1
