Repository microsoft/AdaptiveCards, pull requests merged in 2019-07, with the labels that each got.

#3105 fixes issue #3104
  source/ios/AdaptiveCards/ADCIOSVisualizer/resources/sample.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRMediaRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS, Potential-1.2.1

#3120 [UWP] /w4 /wx, control guard and attendant fixes
  source/uwp/ObjectModelProjection/ObjectModelProjection.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/lib/AdaptiveInputs.cpp
  source/uwp/Renderer/lib/ErrorHandling.h
  source/uwp/Renderer/lib/MediaHelpers.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.cpp
  source/uwp/Renderer/lib/TextHelpers.cpp
  source/uwp/Renderer/lib/TileControl.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/WholeItemsPanel.cpp
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlHelpers.h
Labels: Platform-UWP

#3129 [TS] Turn on built in input validation
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Platform-HTML

#3229 [Android] Updated Android Daily Feed
  source/android/adaptivecards/build.gradle
Labels: Platform-Android

#3195 Fixes issue #3159
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/testcards/CustomerCard1.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/testcards/ImageAutoInColumnSet.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/testcards/TextBlock.Issue.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/testcards/TextBlockStrechInColumnSet.json
Labels: Platform-iOS

#3233 [Android] Fix column fallback
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnSetRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ContainerRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/registration/CardRendererRegistration.java
Labels: Platform-Android

#3238 implements column fallback
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: Platform-iOS

#3232 Jwoo/ios auto priority update
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
Labels: Platform-iOS

#3264 [UWP] Add ExpectedVisibility flag to tag to avoid hiding separator
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Column.Size.Ratio.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Column.Width.Ratio.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Column.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Column.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.ColumnSet.Spacing.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.ColumnSet.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Container.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Image.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Elements.Image.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.1.Elements.Media.Sources.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.1.Tests.ColumnSet.Media.VerticalStretch.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.1.Tests.MediaAudioInColumnSet.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.1.Tests.MediaInColumnSet.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Elements.Column.MinHeight.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Elements.ColumnSet.Bleed.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Elements.ColumnSet.MinHeight.png
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Elements.ColumnSet.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.Column.Size.Ratio.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.Column.Width.Ratio.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.Column.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.Column.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.ColumnSet.Spacing.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.ColumnSet.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.Container.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Elements.Image.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Scenarios.WeatherLarge.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Elements.Column.MinHeight.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Elements.ColumnSet.Bleed.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Elements.ColumnSet.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Tests.Element.Requires.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Tests.HideFirstVisibleElementSeparator.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Tests.ToggleVisibility.AllElements.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.Column.SelectAction.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.Column.Size.Ratio.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.Column.Width.Ratio.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.Column.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.Column.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.ColumnSet.Spacing.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.ColumnSet.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.Container.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Elements.Image.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Scenarios.WeatherLarge.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.1.Elements.VerticalContentAlignment_ForcedColumn.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.1.Elements.VerticalContentAlignment_ForcedContainer.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Elements.ColumnSet.Bleed.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Elements.ColumnSet.Style.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Tests.Element.Requires.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Tests.HideFirstVisibleElementSeparator.png
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Tests.ToggleVisibility.AllElements.png
  source/uwp/Renderer/lib/ElementTagContent.cpp
  source/uwp/Renderer/lib/ElementTagContent.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Needs: Author Feedback

#3266 [TS] Update npm packages
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-controls/package.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-designer/package.json
  source/nodejs/adaptivecards-fabric/package-lock.json
  source/nodejs/adaptivecards-fabric/package.json
  source/nodejs/adaptivecards-site/themes/adaptivecards/package-lock.json
  source/nodejs/adaptivecards-site/themes/adaptivecards/package.json
  source/nodejs/adaptivecards-templating/package-lock.json
  source/nodejs/adaptivecards-templating/package.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/adaptivecards/package.json
  source/nodejs/package-lock.json
  source/nodejs/package.json
  source/nodejs/typed-schema/package-lock.json
  source/nodejs/typed-schema/package.json
Labels: Platform-HTML

#3276 [.NET] Across-the-board nuget package updates
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
  source/dotnet/Samples/AdaptiveCards.Sample.Html/AdaptiveCards.Sample.Html.csproj
  source/dotnet/Samples/AdaptiveCards.Sample.ImageRender/AdaptiveCards.Sample.ImageRender.csproj
  source/dotnet/Samples/ImageRendererServer/ImageRendererServer.csproj
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/AdaptiveCards.Rendering.Html.Test.csproj
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCards.Test.csproj
  source/dotnet/Test/AdaptiveCards.Test/AllPayloadTests.cs
Labels: Platform-.NET, security

#3275 [.NET] Update Microsoft.AspNetCore.Server.IIS to 2.2.6 for security
  source/dotnet/Samples/ImageRendererServer/ImageRendererServer.csproj
Labels: Platform-.NET, security

#3279 [UWP] Update C# project references for security
  source/uwp/AdaptiveCardTestApp/AdaptiveCardTestApp.csproj
  source/uwp/UWPTestLibrary/UWPTestLibrary.csproj
  source/uwp/UWPUnitTests/UWPUnitTests.csproj
  source/uwp/Visualizer/AdaptiveCardVisualizer.csproj
Labels: Platform-UWP, security
