Repository microsoft/AdaptiveCards, pull requests merged in 2019-02, with the labels that each got.

#2234 .NET: BackgroundImage tiling
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveColumnRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveContainerRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/Helpers/ImageExtensions.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/PreFetchImageVisitor.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveBackgroundImage.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveBackgroundImageConverter.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveBackgroundImageMode.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveCard.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveContainer.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveHeight.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveImage.cs
  source/dotnet/Library/AdaptiveCards/AdaptiveVerticalAlignment.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCardApiTests.cs
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCards.Test.csproj
  source/dotnet/Test/AdaptiveCards.Test/SerializationTests.cs
  source/dotnet/Test/AdaptiveCards.Test/XmlSerializationTests.cs
Labels: Platform-.NET, Platform-HTML

#2354 Updates to parser registration for new types
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveActionParserRegistration.cpp
  source/uwp/Renderer/lib/AdaptiveElementParserRegistration.cpp
  source/uwp/Renderer/lib/AdaptiveToggleVisibilityActionParser.cpp
  source/uwp/Renderer/lib/AdaptiveToggleVisibilityActionParser.h
  source/uwp/Renderer/lib/Util.h
  source/uwp/UWPUnitTests/ParserRegistration.cs
Labels: Platform-UWP

#2353 UWP Test Updates
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.CustomParsingTestUsingProgressBar.6a3d7d5.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/Tests.CustomParsingTestUsingProgressBar.f22bfd1.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.1.Elements.Image.Height.620e3f5.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.1.Elements.Image.Width.68732e0.json
  source/uwp/AdaptiveCardTestApp/Expected/Tests.CustomParsingTestUsingProgressBarToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.Tests.CustomParsingTestUsingProgressBar.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.1.Elements.Image.Height.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.1.Elements.Image.Height.png
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.1.Elements.Image.Width.json
  source/uwp/AdaptiveCardTestApp/Expected/microsoft-teams.v1.1.Elements.Image.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.Tests.CustomParsingTestUsingProgressBar.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.1.Elements.Image.Height.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.1.Elements.Image.Height.png
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.1.Elements.Image.Width.json
  source/uwp/AdaptiveCardTestApp/Expected/outlook-desktop.v1.1.Elements.Image.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.Tests.CustomParsingTestUsingProgressBar.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.1.Elements.Image.Height.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.1.Elements.Image.Height.png
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.1.Elements.Image.Width.json
  source/uwp/AdaptiveCardTestApp/Expected/sample.v1.1.Elements.Image.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.Tests.CustomParsingTestUsingProgressBar.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.1.Elements.Image.Height.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.1.Elements.Image.Height.png
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.1.Elements.Image.Width.json
  source/uwp/AdaptiveCardTestApp/Expected/sampleDifferentFont.v1.1.Elements.Image.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.Tests.CustomParsingTestUsingProgressBar.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.1.Elements.Image.Height.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.1.Elements.Image.Height.png
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.1.Elements.Image.Width.json
  source/uwp/AdaptiveCardTestApp/Expected/skype.v1.1.Elements.Image.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.1.Elements.Image.HeightToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/v1.1.Elements.Image.WidthToJson.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.Tests.CustomParsingTestUsingProgressBar.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.1.Elements.Image.Height.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.1.Elements.Image.Height.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.1.Elements.Image.Width.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-notification.v1.1.Elements.Image.Width.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.Tests.CustomParsingTestUsingProgressBar.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.1.Elements.Image.Height.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.1.Elements.Image.Height.png
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.1.Elements.Image.Width.json
  source/uwp/AdaptiveCardTestApp/Expected/windows-timeline.v1.1.Elements.Image.Width.png
Labels: Platform-UWP

#2395 [.NET] Apply ContainerStyle Foreground Colors + default Foreground Colors
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCardRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveContainerRenderer.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveRenderContext.cs
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveTextBlockRenderer.cs
  source/dotnet/Library/AdaptiveCards/Rendering/ContainerStylesConfig.cs
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/HtmlRendererTests.cs
Labels: Platform-.NET, Platform-HTML

#2361 [Android] Enhanced background image support
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/BackgroundImageLoaderAsync.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ContainerRenderer.java
Labels: Platform-Android

#2391 Misc. test app improvements
  source/uwp/AdaptiveCardTestApp/Pages/StartPage.xaml.cs
  source/uwp/AdaptiveCardTestApp/Views/DiffView.xaml
  source/uwp/AdaptiveCardTestApp/Views/DiffView.xaml.cs
  source/uwp/AdaptiveCardTestApp/Views/TestResultView.xaml.cs
Labels: Platform-UWP

#2283 fixed compiler warning
  source/shared/cpp/ObjectModel/ParseUtil.cpp
Labels: Platform-Shared Model

#2401 [.NET] Tab and Activate HTML Media
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCardRenderer.cs
  source/dotnet/Samples/AdaptiveCards.Sample.Html/Program.cs
Labels: Platform-.NET

#2453 [JS] Support for additional container styles
  source/nodejs/adaptivecards-designer/src/card-designer.ts
  source/nodejs/adaptivecards-designer/src/containers/bf-image/bf-image-container.ts
  source/nodejs/adaptivecards-designer/src/containers/cortana/cortana-container.ts
  source/nodejs/adaptivecards-designer/src/containers/host-container.ts
  source/nodejs/adaptivecards-designer/src/containers/notifications/toast-container.ts
  source/nodejs/adaptivecards-designer/src/containers/outlook/outlook-container.ts
  source/nodejs/adaptivecards-designer/src/containers/skype/skype-container.ts
  source/nodejs/adaptivecards-designer/src/containers/teams/teams-container.ts
  source/nodejs/adaptivecards-designer/src/containers/webchat/webchat-container.ts
  source/nodejs/adaptivecards-designer/src/designer-peers.ts
  source/nodejs/adaptivecards/src/card-elements.ts
  source/nodejs/adaptivecards/src/enums.ts
  source/nodejs/adaptivecards/src/host-config.ts
Labels: Platform-HTML

#2455 [Android] Fix button alignment in horizontal not working in scroll.
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/ActionLayoutRenderer.java
Labels: Platform-Android
