Repository microsoft/AdaptiveCards, pull requests merged in 2019-08, with the labels that each got.

#3317 [Shared] Reflect changes between width and pixel width
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/Column.java
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ElementTest.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/Column.h
Labels: Platform-Shared Model

#3325 [.NET] Get .Net Standard 1.3 back in the build
  source/dotnet/Build/CopySignFiles.cmd
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Html/MarkdownToHtmlTagConverter.cs
  source/dotnet/Samples/AdaptiveCards.Sample.Html/Program.cs
Labels: AdaptiveCards v1.2.2, Platform-.NET

#3327 [.NET] Bring signing changes over in prep for 1.2.2
  custom.props
  source/dotnet/Build/CopySignFiles.cmd
  source/dotnet/Build/SignConfig.xml
  source/dotnet/Samples/AdaptiveCards.Sample.Html/Program.cs
  source/uwp/Build/SignConfig.xml
Labels: AdaptiveCards v1.2.2, Platform-.NET

#3336 [UWP] Fix issue with nested show cards
  samples/v1.2/Tests/NestedShowCard.json
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Tests.NestedShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Tests.NestedShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Tests.NestedShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Tests.NestedShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Tests.NestedShowCard.d6cbf2e.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceHostConfigs/testVariantHostConfig.569178d.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Tests.NestedShowCard.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Tests.NestedShowCard.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Tests.NestedShowCardToJson.json
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveCard.cpp
  source/uwp/Renderer/lib/AdaptiveCard.h
  source/uwp/Renderer/lib/AdaptiveRenderContext.cpp
  source/uwp/Renderer/lib/AdaptiveRenderContext.h
  source/uwp/Renderer/lib/RenderedAdaptiveCard.cpp
  source/uwp/Renderer/lib/RenderedAdaptiveCard.h
  source/uwp/Renderer/lib/XamlBuilder.cpp
  source/uwp/Renderer/lib/XamlBuilder.h
Labels: Platform-UWP

#3342 [Shared][UWP] Markdown support for non-latin chars (>0x80)
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/MarkDownUnitTest.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.cpp
  source/shared/cpp/ObjectModel/MarkDownBlockParser.h
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.h
  source/uwp/Renderer/lib/TextHelpers.cpp
Labels: Platform-Shared Model, Platform-UWP

#3347 [UWP] Fix link underlining
  source/uwp/Renderer/lib/TextHelpers.cpp
  source/uwp/Renderer/lib/TextHelpers.h
Labels: Platform-UWP

#3400 [UWP] Use platform character conversion functions instead of codecvt
  source/uwp/Renderer/lib/AdaptiveOpenUrlAction.cpp
  source/uwp/Renderer/lib/DateTimeParser.h
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
  source/uwp/Visualizer/ViewModel/DocumentViewModel.cs
Labels: Platform-UWP
