Repository microsoft/AdaptiveCards, pull requests merged in 2020-08, with the labels that each got.

#4310 [Spec] Refactor Input Validation Spec to improve readability and consistency
  specs/DesignDiscussions/InputValidation.md
Labels: Spec

#4560 [Samples] Update templated samples for accessibility
  samples/Templates/Scenarios/ExpenseReport.template.json
  samples/Templates/Scenarios/WeatherLarge.template.json
Labels: Area-Accessibility

#4562 [Designer] Set focus on first card in card catalog when it loads
  source/nodejs/adaptivecards-designer/src/open-sample-dialog.ts
Labels: Area-Accessibility, Area-Designer, Platform-HTML

#4577 [JS] Add keyboard invocation for media elements
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Area-Accessibility, Platform-HTML

#3277 [DevSpec] Underline
  specs/DesignDiscussions/TextRun.Underline.md
Labels: Spec

#4608 [Site] Generate tree markup for Schema Explorer
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/explorer.ejs
Labels: Area-Accessibility

#4541 [Android] Streamline Android publishing
  .pipelines/android-daily.yml
  source/android/adaptivecards/build.gradle
  source/android/build.gradle
Labels: Needs: Author Feedback

#3633 Inconsistencies spec
  specs/DesignDiscussions/Inconsistencies.md
Labels: Spec
