Repository microsoft/AdaptiveCards, pull requests merged in 2020-10, with the labels that each got.

#4950 [Android][Accessibility] Add role for Containers with Actions
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/layout/SelectableFlexboxLayout.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/layout/StretchableElementLayout.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnSetRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ContainerRenderer.java
Labels: AdaptiveCards v20.10, Platform-Android

#4928 [Android][UX] Fix Compact ChoiceSet size
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ChoiceSetInputRenderer.java
Labels: AdaptiveCards v20.10

#4944 Updated layout notification to include properties
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ACRCustomSubmitTargetBuilder.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionDelegate.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRAggregateTarget.mm
Labels: Needs: Author Feedback

#4876 [Android] Update submit validation API
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/APITest.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/BaseActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/RenderArgs.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/RenderedAdaptiveCard.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/Util.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TextInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnSetRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ContainerRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ImageRenderer.java
  source/android/mobile/samples/v1.2/CustomActionRenderingTest.json
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomActionListener.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomBlueAction.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomGreenAction.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomGreenActionElement.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomGreenActionParser.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomGreenActionRenderer.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomRedAction.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomRedActionElement.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomRedActionParser.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/CustomRedActionRenderer.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/Actions/ShowCardOverrideRenderer.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/CardElements/CustomInput.java
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/MainActivityAdaptiveCardsSample.java
  source/android/mobile/src/main/res/drawable/custom_button_style.xml
Labels: AdaptiveCards v20.10

#4942 [Android] Update input error visual cue rendering to support custom background drawables
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ChoiceSetInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TextInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ToggleInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/ValidatedEditText.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/IValidatedInputView.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/ValidatedCheckBox.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/ValidatedCheckBoxLayout.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/ValidatedEditText.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/ValidatedInputLayout.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/ValidatedRadioGroup.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/ValidatedSpinner.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/customcontrols/ValidatedSpinnerLayout.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/BaseInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/ComboBoxInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/layout/StretchableInputLayout.java
  source/android/adaptivecards/src/main/res/drawable/adaptive_choiceset_compact_background.xml
  source/android/adaptivecards/src/main/res/drawable/adaptive_choiceset_compact_background_invalid.xml
  source/android/adaptivecards/src/main/res/drawable/adaptive_choiceset_expanded_background.xml
  source/android/adaptivecards/src/main/res/drawable/adaptive_choiceset_expanded_background_invalid.xml
  source/android/adaptivecards/src/main/res/values/attrs.xml
  source/android/mobile/src/main/res/drawable/adaptive_choiceset_compact_background_.xml
  source/android/mobile/src/main/res/drawable/adaptive_choiceset_expanded_background_.xml
  source/android/mobile/src/main/res/drawable/layered_edit_text.xml
  source/android/mobile/src/main/res/drawable/layered_edit_text_invalid.xml
  source/android/mobile/src/main/res/drawable/layered_edit_text_styles.xml
  source/android/mobile/src/main/res/values-v21/styles.xml
Labels: AdaptiveCards v20.10

#4991 [Samples][Accessibility] TextBlock wrap in Scenario cards
  samples/Templates/Scenarios/ActivityUpdate.data.json
  samples/Templates/Scenarios/ActivityUpdate.template.json
  samples/Templates/Scenarios/Agenda.template.json
  samples/Templates/Scenarios/CalendarReminder.template.json
  samples/Templates/Scenarios/ExpenseReport.template.json
  samples/Templates/Scenarios/FlightDetails.template.json
  samples/Templates/Scenarios/FlightItinerary.template.json
  samples/Templates/Scenarios/FlightUpdate.template.json
  samples/Templates/Scenarios/FoodOrder.template.json
  samples/Templates/Scenarios/FoodOrderWithValidation.template.json
  samples/Templates/Scenarios/ImageGallery.template.json
  samples/Templates/Scenarios/InputForm.template.json
  samples/Templates/Scenarios/Inputs.template.json
  samples/Templates/Scenarios/InputsWithValidation.template.json
  samples/Templates/Scenarios/ProductVideo.template.json
  samples/Templates/Scenarios/Restaurant.template.json
  samples/Templates/Scenarios/ShowCardWizard.template.json
  samples/Templates/Scenarios/SimpleFallback.template.json
  samples/Templates/Scenarios/SportingEvent.template.json
  samples/Templates/Scenarios/StockUpdate.template.json
  samples/Templates/Scenarios/WeatherCompact.template.json
  samples/Templates/Scenarios/WeatherLarge.template.json
  samples/v1.0/Scenarios/ActivityUpdate.json
  samples/v1.0/Scenarios/CalendarReminder.json
  samples/v1.0/Scenarios/FlightItinerary.json
  samples/v1.0/Scenarios/FlightUpdate.json
  samples/v1.0/Scenarios/FoodOrder.json
  samples/v1.0/Scenarios/ImageGallery.json
  samples/v1.0/Scenarios/InputForm.json
  samples/v1.0/Scenarios/Inputs.json
  samples/v1.0/Scenarios/Restaurant.json
  samples/v1.0/Scenarios/SportingEvent.json
  samples/v1.0/Scenarios/StockUpdate.json
  samples/v1.0/Scenarios/WeatherCompact.json
  samples/v1.0/Scenarios/WeatherLarge.json
  samples/v1.2/Scenarios/Agenda.json
  samples/v1.2/Scenarios/ExpenseReport.json
  samples/v1.2/Scenarios/FlightDetails.json
  samples/v1.2/Scenarios/SimpleFallback.json
  samples/v1.3/Scenarios/FoodOrderWithValidation.json
  samples/v1.3/Scenarios/InputsWithValidation.json
  samples/v1.3/Scenarios/ShowCardWizard.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/InputUtil.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/inputhandler/ComboBoxInputHandler.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/layout/StretchableInputLayout.java
Labels: AdaptiveCards v20.10
