Repository microsoft/AdaptiveCards, pull requests merged in 2020-07, with the labels that each got.

#4201 Avoid unnecessary string copies
  source/shared/cpp/ObjectModel/ActionSet.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.cpp
  source/shared/cpp/ObjectModel/BaseActionElement.h
  source/shared/cpp/ObjectModel/BaseCardElement.cpp
  source/shared/cpp/ObjectModel/BaseCardElement.h
  source/shared/cpp/ObjectModel/BaseElement.cpp
  source/shared/cpp/ObjectModel/BaseElement.h
  source/shared/cpp/ObjectModel/ChoiceSetInput.cpp
  source/shared/cpp/ObjectModel/Column.cpp
  source/shared/cpp/ObjectModel/EnumMagic.h
  source/shared/cpp/ObjectModel/Fact.cpp
  source/shared/cpp/ObjectModel/Fact.h
  source/shared/cpp/ObjectModel/FactSet.cpp
  source/shared/cpp/ObjectModel/ImageSet.cpp
  source/shared/cpp/ObjectModel/Media.cpp
  source/shared/cpp/ObjectModel/ParseContext.cpp
  source/shared/cpp/ObjectModel/ParseContext.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ParseUtil.h
  source/shared/cpp/ObjectModel/RichTextBlock.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/ShowCardAction.cpp
  source/shared/cpp/ObjectModel/TextBlock.cpp
  source/shared/cpp/ObjectModel/TextBlock.h
  source/shared/cpp/ObjectModel/TextElementProperties.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.h
  source/shared/cpp/ObjectModel/TextRun.cpp
  source/shared/cpp/ObjectModel/TextRun.h
  source/shared/cpp/ObjectModel/ToggleVisibilityAction.cpp
  source/uwp/Renderer/lib/ActionHelpers.cpp
  source/uwp/Renderer/lib/CustomActionWrapper.cpp
  source/uwp/Renderer/lib/CustomActionWrapper.h
  source/uwp/Renderer/lib/CustomElementWrapper.cpp
  source/uwp/Renderer/lib/CustomElementWrapper.h
  source/uwp/Renderer/lib/DateTimeParser.cpp
  source/uwp/Renderer/lib/Util.cpp
  source/uwp/Renderer/lib/Util.h
  source/uwp/Renderer/lib/XamlHelpers.cpp
  source/uwp/Renderer/lib/XamlHelpers.h
Labels: Area-Performance

#4263 [UWP] Accessibility updates for GridSplitter control
  source/uwp/Visualizer/AdaptiveCardVisualizer.csproj
  source/uwp/Visualizer/DocumentView.xaml
  source/uwp/Visualizer/DocumentView.xaml.cs
Labels: Platform-UWP

#4268 Ts/fixes
  source/nodejs/adaptivecards-designer/src/designer-peers.ts
  source/nodejs/adaptivecards/src/card-elements.ts
  source/nodejs/adaptivecards/src/enums.ts
Labels: AdaptiveCards v20.06, Platform-HTML

#4319 [UWP] Convert to nuget version of cppwinrt
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj.filters
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/pch.h
  source/uwp/Renderer/packages.config
Labels: Platform-UWP

#4383 [Samples] Update ExpenseReport and WeatherLarge samples
  samples/v1.0/Scenarios/WeatherLarge.json
  samples/v1.2/Scenarios/ExpenseReport.json
Labels: area-samples

#4366 [Android] Change async operations to work on a concurrent manner
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/action/ActionElementRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TextInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ImageRenderer.java
Labels: AdaptiveCards v1.2.11

#4363 [Spec] Update Input Label Spec to improve readability and consistency
  specs/DesignDiscussions/InputLabels.md
Labels: Spec

#4503 [UWP] Fix null AV when rendering a media element
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: AdaptiveCards v1.2.11, Platform-UWP

#4446 [Shared][UWP][Android][iOS] Rework Input.Number property handling to be nullable
  source/android/adaptivecards/CMakeLists.txt
  source/android/adaptivecards/src/AdaptiveCardObjectModel.i
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/FactSetPropertiesTest.java
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/NumberInputPropertiesTest.java
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/OpenUrlActionPropertiesTest.java
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/ShowCardActionPropertiesTest.java
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/TestUtil.java
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/ToggleVisibilityActionPropertiesTest.java
  source/android/adaptivecards/src/main/cpp/objectmodel_wrap.cpp
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCard.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/AdaptiveCardObjectModelJNI.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/NumberInput.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/SWIGTYPE_p_std__optionalT_int_t.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/objectmodel/WarningStatusCode.java
  source/android/mobilechatapp/src/main/java/com/example/mobilechatapp/Card.java
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputLabelView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputNumberRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextInputHandler.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextInputHandler.mm
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel/AdaptiveCardsSharedModel.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/EverythingBagel.cpp
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/ParseUtilTest.cpp
  source/shared/cpp/ObjectModel/NumberInput.cpp
  source/shared/cpp/ObjectModel/NumberInput.h
  source/shared/cpp/ObjectModel/ParseUtil.cpp
  source/shared/cpp/ObjectModel/ParseUtil.h
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.cpp
  source/shared/cpp/ObjectModel/SharedAdaptiveCard.h
  source/shared/cpp/ObjectModel/pch.h
  source/uwp/Renderer/idl/AdaptiveCards.Rendering.Uwp.idl
  source/uwp/Renderer/lib/AdaptiveNumberInput.cpp
  source/uwp/Renderer/lib/AdaptiveNumberInput.h
  source/uwp/Renderer/lib/AdaptiveNumberInputRenderer.cpp
  source/uwp/Renderer/lib/InputValue.cpp
  source/uwp/UWPUnitTests/ObjectModelTests.cs
Labels: Platform-Android, Platform-Shared Model, Platform-UWP, Platform-iOS
