Repository microsoft/AdaptiveCards, pull requests merged in 2020-12, with the labels that each got.

#5119 [JS] Audit updates
  source/nodejs/ac-typed-schema/package.json
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-designer-app/package-lock.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-fabric/package-lock.json
  source/nodejs/adaptivecards-site/_config.yml
  source/nodejs/adaptivecards-site/package-lock.json
  source/nodejs/adaptivecards-site/package.json
  source/nodejs/adaptivecards-templating/package-lock.json
  source/nodejs/adaptivecards-visualizer/package-lock.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/package-lock.json
  source/nodejs/package.json
  source/nodejs/spec-generator/package-lock.json
Labels: Platform-HTML, security

#5170 Fixed Lipo error
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
Labels: AdaptiveCards v20.12, Platform-iOS

#5190 excluded arm64 from pod spec
  source/ios/tools/AdaptiveCards.podspec
Labels: AdaptiveCards v20.12

#4833 [.Net HTML]fix IgnoreDefaultStringEnumConverter NullReference issue
  source/dotnet/Library/AdaptiveCards/IgnoreDefaultStringEnumConverter.cs
Labels: Auto-MergePR
