Repository microsoft/AdaptiveCards, pull requests merged in 2020-03, with the labels that each got.

#3809 [iOS] Fix clipped text in non-compact ChoiceSet
  samples/v1.2/Tests/ChoiceSet.UnclippedText.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
Labels: AdaptiveCards v1.2.7

#3875 [JS] Node package security updates
  source/nodejs/ac-typed-schema/package-lock.json
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-designer-app/package-lock.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-fabric/package-lock.json
  source/nodejs/adaptivecards-site/package-lock.json
  source/nodejs/adaptivecards-site/themes/adaptivecards/package-lock.json
  source/nodejs/adaptivecards-templating/package-lock.json
  source/nodejs/adaptivecards-visualizer/package-lock.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/package-lock.json
  source/nodejs/package.json
  source/nodejs/spec-generator/package-lock.json
Labels: security

#3891 [Android] Fix first element changing place with background image
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/BackgroundImageLoaderAsync.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/GenericImageLoaderAsync.java
Labels: AdaptiveCards v1.2.8

#3871 [JS] Initial commit of aclint tool
  source/nodejs/aclint/.eslintignore
  source/nodejs/aclint/.eslintrc
  source/nodejs/aclint/.vscode/launch.json
  source/nodejs/aclint/package-lock.json
  source/nodejs/aclint/package.json
  source/nodejs/aclint/src/index.ts
  source/nodejs/aclint/tsconfig.json
  source/nodejs/lerna.json
Labels: Area-Tooling

#3879 [iOS] updated numpad to have a decimal point
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputNumberRenderer.mm
Labels: Platform-iOS
