Repository microsoft/AdaptiveCards, pull requests merged in 2020-04, with the labels that each got.

#3877 [UWP] Fix Error Panel Access
  source/uwp/Visualizer/AdaptiveCardVisualizer.csproj
  source/uwp/Visualizer/ErrorTabView.xaml
  source/uwp/Visualizer/ErrorTabView.xaml.cs
  source/uwp/Visualizer/GenericDocumentView.xaml
  source/uwp/Visualizer/TabView.xaml
  source/uwp/Visualizer/ViewModel/DocumentViewModel.cs
  source/uwp/Visualizer/ViewModel/GenericDocumentViewModel.cs
  source/uwp/Visualizer/ViewModel/HostConfigEditorViewModel.cs
  source/uwp/Visualizer/ViewModel/KeyboardPressTimeCounter.cs
Labels: Platform-UWP

#3739 [UWP] Remove weak reference to ellipse object in image renderer
  samples/v1.1/Elements/Image.BackgroundColor.json
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.1.Elements.Image.BackgroundColor.json
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.1.Elements.Image.BackgroundColor.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.1.Elements.Image.BackgroundColor.json
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.1.Elements.Image.BackgroundColor.png
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.1.Elements.Image.BackgroundColor.4c2fad3.json
  source/uwp/AdaptiveCardTestApp/Expected/SourceHostConfigs/testVariantHostConfig.569178d.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.1.Elements.Image.BackgroundColor.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.1.Elements.Image.BackgroundColor.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.1.Elements.Image.BackgroundColorToJson.json
  source/uwp/Renderer/lib/AdaptiveImageRenderer.cpp
Labels: Platform-UWP

#3966 [.NET] Stub out _CheckForGenerateAppxPackageOnBuild target
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
Labels: Platform-.NET

#3962 Fixed inputs not passed while used in ActionSet
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/TestFiles/ActionSet.Inputs.Tests.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
Labels: AdaptiveCards v1.2.9

#3914 [JS][Renderer][Accessibility] Action.OpenUrl rendered buttons should have the "link" aria role
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards v1.2.9, Area-Renderers, Bug, Platform-HTML, Triage-Approved for Fix, javascript
