Repository microsoft/AdaptiveCards, pull requests merged in 2020-02, with the labels that each got.

#3737 [JS] Fix Angular build break
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Platform-HTML

#3779 Fixed Issue #3776, Crashing While Unwrapping Paragraph Tag
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/MarkDownUnitTest.cpp
  source/shared/cpp/ObjectModel/MarkDownHtmlGenerator.cpp
Labels: AdaptiveCards v1.2.7, Msft-TeamsMobile

#3792 fixes warning and nullability issues
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRegistration.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: AdaptiveCards v1.2.7, Msft-TeamsMobile

#3805 [UWP] Cherry-pick accessibility fix for patch release
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: AdaptiveCards v1.2.7

#3811 Custom.props version update for v1.2.7
  custom.props
Labels: AdaptiveCards v1.2.7

#3810 Jwoo/ios 1.2 actionset
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIScrollView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIScrollView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/UtiliOS.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/UtiliOS.mm
Labels: AdaptiveCards v1.2.7, Bug, Msft-TeamsMobile
