Repository microsoft/AdaptiveCards, pull requests merged in 2020-09, with the labels that each got.

#4727 [JS] Emit "invisible" borders for containers
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Area-Accessibility, Platform-HTML

#4726 [Site] Emit header tag in docs for "Inherited Properties"
  source/nodejs/ac-typed-schema/src/markdown/generate-markdown.ts
Labels: Area-Accessibility

#4729 [Schema] Add version to new regex property
  schemas/1.3.0/adaptive-card.json
  schemas/src/elements/inputs/Input.Text.json
  specs/elements/Input.Text.md
Labels: Area-Schema

#4725 [Site] Adjust color contrast for a couple of borders
  source/nodejs/adaptivecards-designer-app/dist/adaptivecards-designer-app.css
  source/nodejs/adaptivecards-designer-app/dist/containers/default-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/outlook-container.1.css
  source/nodejs/adaptivecards-designer-app/dist/containers/outlook-container.css
  source/nodejs/adaptivecards-designer/src/containers/outlook/outlook-container.css
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/css/extracted.css
  source/nodejs/adaptivecards-visualizer/css/outlook.css
  source/nodejs/adaptivecards-visualizer/scss/outlook.scss
Labels: Area-Accessibility

#4735 [JS] Paint ToggleVisibility actions with `aria-controls` attribute
  source/nodejs/adaptivecards/README.md
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Area-Accessibility, Platform-HTML

#4762 [Samples] Update restaurant sample to read more naturally for a11y
  samples/Templates/Scenarios/Restaurant.data.json
  samples/Templates/Scenarios/Restaurant.template.json
  samples/v1.0/Scenarios/Restaurant.json
Labels: Area-Accessibility, Area-Samples

#4740 Pic2card Designer Integration
  source/nodejs/adaptivecards-designer/.env
  source/nodejs/adaptivecards-designer/package.json
  source/nodejs/adaptivecards-designer/src/adaptivecards-designer.css
  source/nodejs/adaptivecards-designer/src/card-designer.ts
  source/nodejs/adaptivecards-designer/src/catalogue.ts
  source/nodejs/adaptivecards-designer/src/dialog.ts
  source/nodejs/adaptivecards-designer/src/open-image-dialog.ts
  source/nodejs/adaptivecards-designer/src/open-sample-dialog.ts
  source/nodejs/adaptivecards-designer/webpack.config.js
  source/nodejs/adaptivecards-site/pages/privacy/index.md
Labels: Needs: Author Feedback

#4783 [Samples] Update HostConfig Container colors to have min 4.5:1 contrast ratio
  samples/HostConfig/sample.json
  samples/HostConfig/webchat.json
Labels: AdaptiveCards v20.09, Area-Accessibility, Area-Samples

#4320 [Android] Custom input behaviour check
  source/android/mobile/src/main/java/io/adaptivecards/adaptivecardssample/CustomObjects/CardElements/CustomInput.java
Labels: AdaptiveCards v20.09, Area-Samples

#4803 [JavaScript][Accessibility] Inline action img explicit role=presentation
  source/nodejs/adaptivecards/src/card-elements.ts
  source/nodejs/adaptivecards/src/strings.ts
Labels: AdaptiveCards v20.09

#4807 Website: added label accessibility note to samples and schema explorer
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/explorer.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/sample.ejs
Labels: AdaptiveCards v20.09, Area-Accessibility

#4849 [Designer] Add help button and dialog
  source/nodejs/adaptivecards-designer/src/adaptivecards-designer.css
  source/nodejs/adaptivecards-designer/src/card-designer.ts
  source/nodejs/adaptivecards-designer/src/dialog.ts
  source/nodejs/adaptivecards-designer/src/help-dialog.ts
  source/nodejs/adaptivecards-designer/src/open-sample-dialog.ts
Labels: AdaptiveCards v20.09, Area-Accessibility, Area-Designer

#4850 [Designer] Trap keyboard for modal dialogs
  source/nodejs/adaptivecards-designer/src/adaptivecards-designer.css
  source/nodejs/adaptivecards-designer/src/dialog.ts
Labels: AdaptiveCards v20.09, Area-Accessibility, Area-Designer

#4857 [JS][Renderer] Use TextRun.selectAction.title as aria-label
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards v20.09, Area-Accessibility, Area-Renderers, Bug, javascript

#4859 [JS] Fix arrow keys and actionset aria
  source/nodejs/adaptivecards-controls/src/constants.ts
  source/nodejs/adaptivecards-controls/src/dropdown.ts
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Area-Accessibility, Platform-HTML
