Repository microsoft/AdaptiveCards, pull requests merged in 2020-05, with the labels that each got.

#3980 [JS] Update node dependencies in master
  source/nodejs/ac-typed-schema/package-lock.json
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-fabric/package-lock.json
  source/nodejs/adaptivecards-site/themes/adaptivecards/package-lock.json
  source/nodejs/adaptivecards-templating/package-lock.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/package-lock.json
Labels: Platform-HTML, security

#3952 [.NET] Add markdown docs generation for AdaptiveCards library
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
  source/dotnet/Library/AdaptiveCards/docs/AdaptiveCards.md
Labels: Platform-.NET

#3982 [JS] Update node-sass dependency for scss-to-json tool
  source/tools/hostConfig/scss-to-json/package-lock.json
  source/tools/hostConfig/scss-to-json/package.json
Labels: Area-Tooling, security

#3983 [NET] Add reference to get security fix for ImageRendererServer sample
  source/dotnet/Samples/ImageRendererServer/ImageRendererServer.csproj
Labels: Platform-.NET, security

#3987 Fixed RichTextBlock's TextRun's Color Issue
  samples/v1.2/Elements/RichTextBlock.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRichTextBlockRenderer.mm
Labels: AdaptiveCards v1.2.9, Msft-TeamsMobile, Platform-iOS

#3988 [NET] Add reference to get security fix for ImageRendererServer sample (#3983)
  source/dotnet/Samples/ImageRendererServer/ImageRendererServer.csproj
Labels: Platform-.NET, security

#3981 [JS] Update node dependencies in release/1.2
  source/nodejs/ac-typed-schema/package-lock.json
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-designer-app/package-lock.json
  source/nodejs/adaptivecards-designer-app/package.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-site/package-lock.json
  source/nodejs/adaptivecards-site/themes/adaptivecards/package-lock.json
  source/nodejs/adaptivecards-visualizer/package-lock.json
  source/nodejs/adaptivecards-visualizer/package.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/package-lock.json
  source/nodejs/package.json
Labels: Platform-HTML, security

#3912 Updated Render Interface with Inputs
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIBaseCardElementRenderer.h
Labels: AdaptiveCards v1.2.9

#4010 [JS] Only assign img alt text if it's supplied
  source/nodejs/adaptivecards/src/__tests__/components/image.spec.ts
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Platform-HTML

#4020 [JS] Make tabIndex on root card turnoffable
  source/nodejs/adaptivecards/src/card-elements.ts
  source/nodejs/adaptivecards/src/shared.ts
Labels: AdaptiveCards v1.2.9, Area-Accessibility, Platform-HTML

#4000 [Shared] HTML character entity decoding and tests
  samples/v1.2/Tests/TextHandling.json
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/AdaptiveCardsSharedModelUnitTest.vcxproj.filters
  source/shared/cpp/AdaptiveCardsSharedModel/AdaptiveCardsSharedModelUnitTest/TextParsingTest.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.cpp
  source/shared/cpp/ObjectModel/TextElementProperties.h
Labels: Inconsistency

#4019 [JS] Manual port of empty alttext bugfix to release
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Area-Accessibility, Platform-HTML

#4040 [UWP] Fix UWP builds in master
  source/uwp/Renderer/AdaptiveCardRenderer.vcxproj
Labels: Platform-UWP

#4045 [JS] Paint aria-current attribute on selected ChoiceSet option
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Area-Accessibility

#4048 [JS] Port fix for aria-current
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards v1.2.9, Area-Accessibility, Platform-HTML

#4046 [UWP] Use selectAction's title as the accessible name for a link
  source/uwp/Renderer/lib/AdaptiveRichTextBlockRenderer.cpp
Labels: AdaptiveCards v1.2.9, Area-Accessibility, Platform-UWP

#4059 [JS] Generate correct aria role depending on Action type
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards v1.2.9, Area-Accessibility, Platform-HTML

#3868 [Android] Default to auto width for non valid width values
  samples/v1.2/Tests/Column.InvalidWidth.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveWarning.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/readonly/ColumnRenderer.java
Labels: AdaptiveCards v1.2.9, Platform-Android

#4068 [JS] Make tabIndex on root card turnoffable (#4020)
  source/nodejs/adaptivecards/src/card-elements.ts
  source/nodejs/adaptivecards/src/shared.ts
Labels: Area-Accessibility, Platform-HTML

#4067 [UWP] Port RichTextBlock selectAction accessibility name fix
  source/uwp/Renderer/lib/XamlBuilder.cpp
Labels: Area-Accessibility, Platform-UWP

#4080 [JS] Reconcile Action.OpenUrl rendering with getAriaRole()
  source/nodejs/adaptivecards/docs/classes/openurlaction.md
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards v1.2.9, Area-Accessibility, Platform-HTML

#4081 [JS] Manual port of aria link role fixes
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: Area-Accessibility, Platform-HTML

#4083 manual port of fix for inputs not passed while used in ActionSet (#3962)
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/ADCIOSVisualizer/TestFiles/ActionSet.Inputs.Tests.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
Labels: AdaptiveCards v1.2.9

#4084 updated render interface (#3912)
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIBaseCardElementRenderer.h
Labels: AdaptiveCards v1.2.9

#4085 updated numpad to have a decimal point (#3879)
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRInputNumberRenderer.mm
Labels: AdaptiveCards v1.2.9
