Repository microsoft/AdaptiveCards, pull requests merged in 2020-01, with the labels that each got.

#3696 Added MaxActions Limit Check
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOWarning.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACOWarning.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRActionSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACREnums.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRParseWarning.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRParseWarning.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderResult.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewController.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRViewPrivate.h
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-iOS

#3680 Jwoo/ios telephony update
  samples/v1.0/Tests/TextBlock.Markdown.Telephony.json
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRichTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Tests.TextBlock.Markdown.Telephony.json
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.0.Tests.TextBlock.Markdown.Telephony.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Tests.TextBlock.Markdown.Telephony.json
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.0.Tests.TextBlock.Markdown.Telephony.png
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.0.Tests.TextBlock.Markdown.Telephony.ea913dd.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Tests.TextBlock.Markdown.Telephony.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.0.Tests.TextBlock.Markdown.Telephony.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.0.Tests.TextBlock.Markdown.TelephonyToJson.json
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-iOS

#3714 [Android] Fix scrolling behaviour in multiline Input.Text
  samples/v1.2/Tests/Input.Text.Multiline.json
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TextInputRenderer.java
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-Android

#3716 [Android] Fix VerticalContentAlignment for elements in root
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/AdaptiveCardRenderer.java
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-Android

#3675 Implementation of size to fit as per the content.
  source/community/reactnative/package-lock.json
  source/community/reactnative/package.json
  source/community/reactnative/src/adaptive-card.js
  source/community/reactnative/src/components/actions/action-button.js
  source/community/reactnative/src/components/actions/action-set.js
  source/community/reactnative/src/components/actions/action-wrapper.js
  source/community/reactnative/src/components/containers/column.js
  source/community/reactnative/src/components/containers/columnset.js
  source/community/reactnative/src/components/containers/container-wrapper.js
  source/community/reactnative/src/components/containers/container.js
  source/community/reactnative/src/components/containers/factset.js
  source/community/reactnative/src/components/containers/image-set.js
  source/community/reactnative/src/components/elements/element-wrapper.js
  source/community/reactnative/src/components/elements/image.js
  source/community/reactnative/src/components/elements/media.js
  source/community/reactnative/src/components/inputs/choice-set/choice-set-input.js
  source/community/reactnative/src/models/container-model.js
  source/community/reactnative/src/styles/global.js
  source/community/reactnative/src/utils/constants.js
  source/community/reactnative/src/utils/util.js
  source/community/reactnative/src/visualizer/constants.js
  source/community/reactnative/src/visualizer/payloads.js
  source/community/reactnative/src/visualizer/payloads/data-binding/container.json
  source/community/reactnative/src/visualizer/payloads/data-binding/food-order.json
  source/community/reactnative/src/visualizer/payloads/data-binding/index.js
  source/community/reactnative/src/visualizer/payloads/data-binding/stock-update.json
  source/community/reactnative/src/visualizer/payloads/payloads/Bleeding.ColumnSet.json
  source/community/reactnative/src/visualizer/payloads/payloads/index.js
  source/community/reactnative/src/visualizer/renderer.js
  source/community/reactnative/src/visualizer/visualizer.js
Labels: Feature, Platform-ReactNative

#3713 [Android] Fix to have HH:mm in Input.Time elements
  source/android/adaptivecards/src/androidTest/java/io/adaptivecards/objectmodel/TimeInputPropertiesTest.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TimeInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TimePickerFragment.java
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-Android

#3743 Fixed #3741
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: AdaptiveCards v1.2.6

#3725 Updated Cover FillMode Behavior
  samples/v1.2/Tests/AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.json
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/UtiliOS.mm
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.json
  source/uwp/AdaptiveCardTestApp/Expected/Fixed Size Non-Interactive.v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.png
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.json
  source/uwp/AdaptiveCardTestApp/Expected/No host config (default values).v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.png
  source/uwp/AdaptiveCardTestApp/Expected/SourceCards/v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.dc7a6a6.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.json
  source/uwp/AdaptiveCardTestApp/Expected/testVariantHostConfig.v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImage.png
  source/uwp/AdaptiveCardTestApp/Expected/v1.2.Tests.AdaptiveCard.BackgroundImage.FillMode.Cover.SmallImageToJson.json
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-iOS

#3727 Updated Handling of Preprocessed Text
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizerTests/ADCIOSVisualizerTests.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRButton.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRChoiceSetViewDataSource.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRichTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-iOS

#3726 updated project file to expose media renderer
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACFramework.h
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-iOS

#3687 iOS new layout scheme
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer.xcodeproj/xcshareddata/xcschemes/ADCIOSVisualizer.xcscheme
  source/ios/AdaptiveCards/ADCIOSVisualizer/ADCIOSVisualizer/ViewController.m
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/project.pbxproj
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards-Universal.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards.xcodeproj/xcshareddata/xcschemes/AdaptiveCards.xcscheme
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnSetView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRColumnView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContainerRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentHoldingUIView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRContentStackView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRFactSetRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRIContentHoldingView.h
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRImageRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRRichTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRSeparator.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRShowCardTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRTextBlockRenderer.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRToggleVisibilityTarget.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRUILabel.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/ACRView.mm
  source/ios/AdaptiveCards/AdaptiveCards/AdaptiveCards/UtiliOS.mm
Labels: AdaptiveCards v1.2.6, Msft-TeamsMobile, Platform-iOS
