Repository microsoft/AdaptiveCards, pull requests merged in 2021-02, with the labels that each got.

#5345 [.NET] Rework MarkedNet ingestion to prevent a package dependency
  custom.props
  source/dotnet/AdaptiveCards.sln
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCards.Rendering.Wpf.csproj
  source/dotnet/Library/AdaptiveCards/MarkedNet/Emoji.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/EmojiConverter.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/EmojiMarkup.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/EmojiRenderer.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/HtmlRenderer.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/License.txt
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/BlockRules.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/InlineLexer.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/InlineRules.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/Lexer.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/Marked.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/Objects.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/Options.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/Parser.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/Renderer.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/StringHelper.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/Token.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNet/TokensResult.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/MarkedNetLicense.txt
  source/dotnet/Library/AdaptiveCards/MarkedNet/TextRenderer.cs
  source/dotnet/Library/AdaptiveCards/MarkedNet/XamlRenderer.cs
  source/dotnet/Library/AdaptiveCards/docs/AdaptiveCards.md
Labels: High Priority

#5359 [JS] Fix dropdown control and host container high contrast
  source/nodejs/adaptivecards-controls/src/adaptivecards-controls.css
  source/nodejs/adaptivecards-designer-app/dist/containers/outlook-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/teams-container-dark.css
  source/nodejs/adaptivecards-designer-app/dist/containers/teams-container-light.css
  source/nodejs/adaptivecards-designer/src/adaptivecards-designer.css
  source/nodejs/adaptivecards-designer/src/containers/cortana/cortana-container-dark.css
  source/nodejs/adaptivecards-designer/src/containers/cortana/cortana-container-light.css
  source/nodejs/adaptivecards-designer/src/containers/outlook/outlook-container.css
  source/nodejs/adaptivecards-designer/src/containers/teams/teams-container-dark.css
  source/nodejs/adaptivecards-designer/src/containers/teams/teams-container-light.css
  source/nodejs/adaptivecards-visualizer/css/outlook.css
  source/nodejs/adaptivecards-visualizer/css/teams.css
Labels: Area-Accessibility, Platform-HTML

#5379 [Site] Mark space-only items as role="presentation"
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/footer.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/section-details.ejs
  source/nodejs/adaptivecards/package.json
Labels: AdaptiveCards 21.02, Area-Website

#5376 [Site] Update role for "Try it yourself" button
  source/nodejs/adaptivecards-site/themes/adaptivecards/scripts/helper-code-and-card.js
Labels: AdaptiveCards 21.02, Area-Website

#5375 [Designer] Update peer button name from "X" to "Remove"
  source/nodejs/adaptivecards-designer/src/designer-peers.ts
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards 21.02, Area-Designer

#5393 [Site] Fix sample selection indicator in high contrast
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/css/style.css
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5409 [Site] Emit samples list with aria attributes
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/sample.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/css/style.css
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5413 [Site] Make code blocks keyboard focusable
  source/nodejs/adaptivecards-site/themes/adaptivecards/scripts/helper-code-and-card.js
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5417 [Site] Emit status messages on copy button invoke
  source/nodejs/adaptivecards-site/themes/adaptivecards/scripts/helper-code-and-card.js
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/css/style.css
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/js/script.js
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5418 [Site] Update header structure on homepage to make more sense
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/footer.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/home-section.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/section-details-item.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/index.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/css/style.css
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5420 [Site] Display action item text at lower screen widths
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/css/extracted.css
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5408 [Site] Mark current header page with aria-current
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/header.ejs
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5425 [Designer][Accessibility] Allow disabled button focus in toolbar
  source/nodejs/adaptivecards-designer/src/adaptivecards-designer.css
  source/nodejs/adaptivecards-designer/src/toolbar.ts
Labels: Needs: Author Feedback

#5426 [Site] Fix mobile tabindex
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/sample.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/js/script.js
Labels: AdaptiveCards 21.02, Area-Accessibility, Area-Website

#5437 [Designer] Fix broken media query
  source/nodejs/adaptivecards-controls/src/adaptivecards-controls.css
  source/nodejs/adaptivecards-designer-app/dist/containers/outlook-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/teams-container-dark.css
  source/nodejs/adaptivecards-designer-app/dist/containers/teams-container-light.css
  source/nodejs/adaptivecards-designer/src/adaptivecards-designer.css
  source/nodejs/adaptivecards-designer/src/containers/cortana/cortana-container-dark.css
  source/nodejs/adaptivecards-designer/src/containers/cortana/cortana-container-light.css
  source/nodejs/adaptivecards-designer/src/containers/outlook/outlook-container.css
  source/nodejs/adaptivecards-designer/src/containers/teams/teams-container-dark.css
  source/nodejs/adaptivecards-designer/src/containers/teams/teams-container-light.css
  source/nodejs/adaptivecards-visualizer/css/outlook.css
  source/nodejs/adaptivecards-visualizer/css/teams.css
Labels: AdaptiveCards 21.02, Area-Designer
