Repository microsoft/AdaptiveCards, pull requests merged in 2021-01, with the labels that each got.

#5230 [NET] Fix up PackageReferences to reflect our requirements
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCards.Rendering.Wpf.csproj
  source/dotnet/Library/AdaptiveCards.Templating/AdaptiveCards.Templating.csproj
  source/dotnet/Library/AdaptiveCards/AdaptiveCards.csproj
  source/dotnet/Test/AdaptiveCards.Rendering.Html.Test/AdaptiveCards.Rendering.Html.Test.csproj
  source/dotnet/Test/AdaptiveCards.Templating.Test/AdaptiveCards.Templating.Test.csproj
  source/dotnet/Test/AdaptiveCards.Test/AdaptiveCards.Test.csproj
Labels: AdaptiveCards v21.01, Platform-.NET

#5232 [NET] Consume Microsoft.MarkedNet package
  source/dotnet/AdaptiveCards.sln
  source/dotnet/Library/AdaptiveCards.Rendering.Html/AdaptiveCards.Rendering.Html.csproj
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf/AdaptiveCards.Rendering.Wpf.csproj
  source/dotnet/Library/Microsoft.MarkedNet/Emoji.cs
  source/dotnet/Library/Microsoft.MarkedNet/EmojiConverter.cs
  source/dotnet/Library/Microsoft.MarkedNet/EmojiMarkup.cs
  source/dotnet/Library/Microsoft.MarkedNet/EmojiRenderer.cs
  source/dotnet/Library/Microsoft.MarkedNet/HtmlRenderer.cs
  source/dotnet/Library/Microsoft.MarkedNet/License.txt
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/BlockRules.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/InlineLexer.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/InlineRules.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/Lexer.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/Marked.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/Objects.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/Options.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/Parser.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/Renderer.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/StringHelper.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/Token.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNet/TokensResult.cs
  source/dotnet/Library/Microsoft.MarkedNet/MarkedNetLicense.txt
  source/dotnet/Library/Microsoft.MarkedNet/Microsoft.MarkedNet.csproj
  source/dotnet/Library/Microsoft.MarkedNet/Properties/AssemblyInfo.cs
  source/dotnet/Library/Microsoft.MarkedNet/TextRenderer.cs
  source/dotnet/Library/Microsoft.MarkedNet/XamlRenderer.cs
Labels: Platform-.NET

#5247 [Designer] Update role and aria for toolbar dropdown menus
  source/nodejs/adaptivecards-controls/src/dropdown.ts
Labels: Platform-HTML

#5254 [Site] Make Feedback button appear as link for accessibility
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/header.ejs
Labels: AdaptiveCards v21.01, Area-Accessibility, Area-Website

#5258 [JS] Focus media element after it's inserted
  source/nodejs/adaptivecards/src/card-elements.ts
Labels: AdaptiveCards v21.01, Area-Accessibility, Platform-HTML

#5255 [Site] Fix keyboard accessibility for video modal
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/index.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/js/script.js
Labels: Area-Accessibility, Area-Website

#5256 [Designer] Collapse toolbox on ESC
  source/nodejs/adaptivecards-designer/src/tool-box.ts
Labels: Area-Accessibility, Area-Designer

#5265 [Samples] Add alt text to restaurant template
  samples/Templates/Scenarios/Restaurant.data.json
  samples/Templates/Scenarios/Restaurant.template.json
Labels: Area-Accessibility, Area-Samples

#5264 [Site] Remove github button
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/_partial/footer.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/index.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/js/github-buttons.js
Labels: Area-Accessibility, Area-Website

#5261 Add toplevel NuGet.config
  source/NuGet.config
Labels: AdaptiveCards v21.01, security

#5318 [Site] Fix a couple typos
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/explorer.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/sample.ejs
Labels: AdaptiveCards v21.01

#5319 [Android][Accessibility] Access Date/Time picker with Enter key
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/DateInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/NumberInputRenderer.java
  source/android/adaptivecards/src/main/java/io/adaptivecards/renderer/input/TimeInputRenderer.java
Labels: AdaptiveCards v21.01

#5329 Update versions and dependencies ahead of release
  custom.props
  source/android/adaptivecards/gradle.properties
  source/nodejs/adaptivecards-controls/package-lock.json
  source/nodejs/adaptivecards-controls/package.json
  source/nodejs/adaptivecards-designer-app/package-lock.json
  source/nodejs/adaptivecards-designer-app/package.json
  source/nodejs/adaptivecards-designer/package-lock.json
  source/nodejs/adaptivecards-designer/package.json
  source/nodejs/adaptivecards-site/package-lock.json
  source/nodejs/adaptivecards-site/package.json
  source/nodejs/adaptivecards-templating/package-lock.json
  source/nodejs/adaptivecards-templating/package.json
  source/nodejs/adaptivecards-visualizer/package-lock.json
  source/nodejs/adaptivecards-visualizer/package.json
  source/nodejs/adaptivecards/package-lock.json
  source/nodejs/adaptivecards/package.json
  source/nodejs/marked-schema/package-lock.json
  source/nodejs/marked-schema/package.json
  source/nodejs/package-lock.json
  source/nodejs/spec-generator/package.json
Labels: AdaptiveCards v21.01
