Repository microsoft/AdaptiveCards, pull requests merged in 2021-03, with the labels that each got.

#5443 [.NET] Update Xceed licensing
  THIRD-PARTY-NOTICES.TXT
  source/dotnet/Library/AdaptiveCards.Rendering.Wpf.Xceed/EULA-Windows.txt
Labels: Platform-.NET

#5449 [JS] Action.mode designer support + promote secondary action to primary on execute
  source/nodejs/adaptivecards-designer-app/dist/containers/bf-image-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/cortana-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/outlook-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/skype-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/teams-container-dark.css
  source/nodejs/adaptivecards-designer-app/dist/containers/teams-container-light.css
  source/nodejs/adaptivecards-designer-app/dist/containers/timeline-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/toast-container.css
  source/nodejs/adaptivecards-designer-app/dist/containers/webchat-container.css
  source/nodejs/adaptivecards-designer/src/containers/bf-image/bf-image-container.css
  source/nodejs/adaptivecards-designer/src/containers/cortana-classic/cortana-container.css
  source/nodejs/adaptivecards-designer/src/containers/cortana/cortana-container-dark.css
  source/nodejs/adaptivecards-designer/src/containers/cortana/cortana-container-light.css
  source/nodejs/adaptivecards-designer/src/containers/default/adaptivecards-defaulthost.css
  source/nodejs/adaptivecards-designer/src/containers/notifications/toast-container.css
  source/nodejs/adaptivecards-designer/src/containers/outlook/outlook-container.css
  source/nodejs/adaptivecards-designer/src/containers/skype/skype-container.css
  source/nodejs/adaptivecards-designer/src/containers/teams/teams-container-dark.css
  source/nodejs/adaptivecards-designer/src/containers/teams/teams-container-light.css
  source/nodejs/adaptivecards-designer/src/containers/timeline/timeline-container.css
  source/nodejs/adaptivecards-designer/src/containers/webchat/webchat-container.css
  source/nodejs/adaptivecards-designer/src/designer-peers.ts
  source/nodejs/adaptivecards-designer/src/shared.ts
  source/nodejs/adaptivecards/src/card-elements.ts
  source/nodejs/adaptivecards/src/controls/constants.ts
  source/nodejs/adaptivecards/src/controls/index.ts
  source/nodejs/adaptivecards/src/controls/menu-item.ts
  source/nodejs/adaptivecards/src/controls/popup-control.ts
  source/nodejs/adaptivecards/src/controls/popup-menu.ts
  source/nodejs/adaptivecards/src/serialization.ts
Labels: Needs: Author Feedback

#5532 [Designer] Accessibility changes to pic2card dialog
  source/nodejs/adaptivecards-designer/src/card-designer.ts
  source/nodejs/adaptivecards-designer/src/open-image-dialog.ts
Labels: Area-Accessibility, Area-Designer

#5534 [Site] Set aria-current on current sample (and misc a11y fixes)
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/explorer.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/layout/sample.ejs
  source/nodejs/adaptivecards-site/themes/adaptivecards/source/css/style.css
Labels: Area-Accessibility, Area-Website
